In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/dataset.csv')

/var/folders/2w/pb1tg6913llbt6y2rwws4nb00000gn/T/ipykernel_15554/633978790.py:1: DtypeWarning: Columns (348,350,352,582,583,584,585) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/dataset.csv')

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,A_STUDY,B_COUNTRY,B_COUNTRY_ALPHA,C_COW_NUM,...,WVS_Polmistrust_PartyVoter,WVS_LR_MedianVoter,WVS_LibCon_MedianVoter,v2psbars,v2psorgs,v2psprbrch,v2psprlnks,v2psplats,v2xnp_client,v2xps_party
0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,232,...,62.434211,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,1,1,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,232,...,62.434211,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2,2,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,232,...,62.434211,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,3,3,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,232,...,66.964286,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [4]:
from tqdm import tqdm

In [5]:
for i in tqdm(range(len(df))):
    if df.loc[i, 'B_COUNTRY_ALPHA'] == 'MAR':
        df.loc[i, 'B_COUNTRY_ALPHA'] = 'MOR'

100%|██████████| 97220/97220 [00:01<00:00, 56791.09it/s]

In [6]:
c = df.columns.to_list()
c[c.index('B_COUNTRY_ALPHA')] = 'country'
df.columns = c

In [12]:
df1 = df[(df['country'] == 'AND') | (df['country'] == 'ARG') |
         (df['country'] == 'ARM') | (df['country'] == 'BRA') | (df['country'] == 'CAN')]

df2 = df[(df['country'] == 'CHN') | (df['country'] == 'COL') |
         (df['country'] == 'CYP') | (df['country'] == 'CZE') | 
         (df['country'] == 'DEU') | (df['country'] == 'GRC')]

df3 = df[(df['country'] == 'HKG') | (df['country'] == 'IND') |
         (df['country'] == 'IDN') | (df['country'] == 'IRN') | 
         (df['country'] == 'IRQ') | (df['country'] == 'JPN')]

df4 = df[(df['country'] == 'JOR') | (df['country'] == 'KAZ') |
         (df['country'] == 'KGZ') | (df['country'] == 'LBN') | 
         (df['country'] == 'MAC') | (df['country'] == 'MEX')]

df5 = df[(df['country'] == 'MNG') | (df['country'] == 'NLD') |
         (df['country'] == 'NZL') | (df['country'] == 'PAK') | 
         (df['country'] == 'ROU')]

df6 = df[(df['country'] == 'RUS') | (df['country'] == 'SRB') |
         (df['country'] == 'SGP') | (df['country'] == 'SVK') | 
         (df['country'] == 'KOR')]

df7 = df[(df['country'] == 'TWN') | (df['country'] == 'TJK') |
         (df['country'] == 'TUR') | (df['country'] == 'UKR')]

df8 = df[(df['country'] == 'GBR') | (df['country'] == 'NIR') |
         (df['country'] == 'USA') | (df['country'] == 'UZB') |
         (df['country'] == 'VNM')]

df9 = df[(df['country'] == 'BGD') | (df['country'] == 'BOL') |
         (df['country'] == 'CHL') | (df['country'] == 'ECU') | 
         (df['country'] == 'EGY') | (df['country'] == 'ETH')]

df10 = df[(df['country'] == 'GTM') | (df['country'] == 'KEN') |
          (df['country'] == 'LBY') | (df['country'] == 'MYS') | 
          (df['country'] == 'MDV')]

df11 = df[(df['country'] == 'MOR') | (df['country'] == 'MMR') |
          (df['country'] == 'NIC') | (df['country'] == 'NGA') | 
          (df['country'] == 'PER') | (df['country'] == 'PHL')]

df12 = df[(df['country'] == 'PRI') | (df['country'] == 'THA') |
          (df['country'] == 'TUN') | (df['country'] == 'URY') | 
          (df['country'] == 'VEN') | (df['country'] == 'ZWE')]

In [17]:
result = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], axis=0)

In [19]:
len(result) == len(df1) + len(df2) + len(df3) + len(df4) + len(df5) + len(df6) + len(df7) + len(df8) + len(df9) + len(df10) + len(df11) + len(df12)

True

# Смерджим этот датасет с ответами

In [20]:
ethical_2_output = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/yandex_output/ethical_2_output.csv')
ethical_3_output = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/yandex_output/ethical_3_output.csv')
science_output = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/yandex_output/science_output.csv')

In [22]:
df_final = result
df_final['full_ans_sci'] = science_output['full_ans']
df_final['full_ans_eth_2'] = ethical_2_output['full_ans']
df_final['full_ans_eth_3'] = ethical_3_output['full_ans']

In [23]:
df_final.to_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/df_for_analysis_yandex.csv')

# Добавим столбец с промтом и столбцы с инструкциями

In [28]:
df = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/df_for_processing_rus/df_for_processing_rus.csv')
df.head()

,Unnamed: 0,prompt,instr_ethical_1,instr_ethical_2,instr_ethical_3,instr_science,answer_format,answer_format_output,country
0,0,Сейчас 2018 год.\nВаш возраст - 60.\nВы женщин...,"Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по каждому из следующих у...",На вход ты получаешь описание характеристик. Т...,В качестве ответа ты должен выдать последовате...,AND
1,1,Сейчас 2018 год.\nВаш возраст - 47.\nВы мужчин...,"Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по каждому из следующих у...",На вход ты получаешь описание характеристик. Т...,В качестве ответа ты должен выдать последовате...,AND
2,2,Сейчас 2018 год.\nВаш возраст - 48.\nВы мужчин...,"Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по каждому из следующих у...",На вход ты получаешь описание характеристик. Т...,В качестве ответа ты должен выдать последовате...,AND
3,3,Сейчас 2018 год.\nВаш возраст - 62.\nВы женщин...,"Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по каждому из следующих у...",На вход ты получаешь описание характеристик. Т...,В качестве ответа ты должен выдать последовате...,AND
4,4,Сейчас 2018 год.\nВаш возраст - 49.\nВы мужчин...,"Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по каждому из следующих у...",На вход ты получаешь описание характеристик. Т...,В качестве ответа ты должен выдать последовате...,AND

In [29]:
len(df)

97220

In [30]:
for i in tqdm(range(len(df))):
    if df.loc[i, 'country'] == 'MAR':
        df.loc[i, 'country'] = 'MOR'

100%|██████████| 97220/97220 [00:01<00:00, 85531.47it/s]

In [31]:
df1 = df[(df['country'] == 'AND') | (df['country'] == 'ARG') |
         (df['country'] == 'ARM') | (df['country'] == 'BRA') | (df['country'] == 'CAN')]

df2 = df[(df['country'] == 'CHN') | (df['country'] == 'COL') |
         (df['country'] == 'CYP') | (df['country'] == 'CZE') | 
         (df['country'] == 'DEU') | (df['country'] == 'GRC')]

df3 = df[(df['country'] == 'HKG') | (df['country'] == 'IND') |
         (df['country'] == 'IDN') | (df['country'] == 'IRN') | 
         (df['country'] == 'IRQ') | (df['country'] == 'JPN')]

df4 = df[(df['country'] == 'JOR') | (df['country'] == 'KAZ') |
         (df['country'] == 'KGZ') | (df['country'] == 'LBN') | 
         (df['country'] == 'MAC') | (df['country'] == 'MEX')]

df5 = df[(df['country'] == 'MNG') | (df['country'] == 'NLD') |
         (df['country'] == 'NZL') | (df['country'] == 'PAK') | 
         (df['country'] == 'ROU')]

df6 = df[(df['country'] == 'RUS') | (df['country'] == 'SRB') |
         (df['country'] == 'SGP') | (df['country'] == 'SVK') | 
         (df['country'] == 'KOR')]

df7 = df[(df['country'] == 'TWN') | (df['country'] == 'TJK') |
         (df['country'] == 'TUR') | (df['country'] == 'UKR')]

df8 = df[(df['country'] == 'GBR') | (df['country'] == 'NIR') |
         (df['country'] == 'USA') | (df['country'] == 'UZB') |
         (df['country'] == 'VNM')]

df9 = df[(df['country'] == 'BGD') | (df['country'] == 'BOL') |
         (df['country'] == 'CHL') | (df['country'] == 'ECU') | 
         (df['country'] == 'EGY') | (df['country'] == 'ETH')]

df10 = df[(df['country'] == 'GTM') | (df['country'] == 'KEN') |
          (df['country'] == 'LBY') | (df['country'] == 'MYS') | 
          (df['country'] == 'MDV')]

df11 = df[(df['country'] == 'MOR') | (df['country'] == 'MMR') |
          (df['country'] == 'NIC') | (df['country'] == 'NGA') | 
          (df['country'] == 'PER') | (df['country'] == 'PHL')]

df12 = df[(df['country'] == 'PRI') | (df['country'] == 'THA') |
          (df['country'] == 'TUN') | (df['country'] == 'URY') | 
          (df['country'] == 'VEN') | (df['country'] == 'ZWE')]

In [32]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], axis=0)

In [33]:
df_final['prompt'] = df['prompt']
df_final['instr_science'] = df['instr_science']
df_final['instr_ethical_2'] = df['instr_ethical_2']
df_final['instr_ethical_3'] = df['instr_ethical_3']

# Разделим столбцы 'full_ans' по '\n'

In [34]:
df_final.head(1)

,index,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,A_STUDY,B_COUNTRY,country,...,v2psplats,v2xnp_client,v2xps_party,full_ans_sci,full_ans_eth_2,full_ans_eth_3,prompt,instr_science,instr_ethical_2,instr_ethical_3
0,0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,-999.0,-999.0,-999.0,9\n8\n4\n3\n2,1\n1\n6\n4\n1\n2\n1,1\n1\n1\n4\n1\n3,Сейчас 2018 год.\nВаш возраст - 60.\nВы женщин...,"Пожалуйста, ответьте по каждому из следующих у...","Пожалуйста, ответьте по поводу каждого из след...","Пожалуйста, ответьте по поводу каждого из след..."

In [35]:
import numpy as np

In [36]:
def clean_data_eth_2(row):
    values = []
    
    if pd.notna(row['full_ans_eth_2']):
        try:
            parts = str(row['full_ans_eth_2']).split('\n')
            
            for part in parts:
                cleaned_part = part.strip()
                
                if not cleaned_part:
                    continue
                    
                try:
                    num = float(cleaned_part)
                    values.append(num)
                except ValueError:
                    continue

            result = [np.nan] * 7
            for i in range(min(len(values), 7)):
                result[i] = values[i]

            for i, col in enumerate(['Q183_yandex', 'Q184_yandex', 'Q185_yandex', 'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex']):
                row[col] = result[i]
                
        except Exception as error_in_data:
            print(f"Ошибка обработки строки {row.name}: {error_in_data}")
            for col in ['Q183_yandex', 'Q184_yandex', 'Q185_yandex', 'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex']:
                row[col] = np.nan
                
    else:
        for col in ['Q183_yandex', 'Q184_yandex', 'Q185_yandex', 'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex']:
            row[col] = np.nan
            
    return row

In [37]:
def clean_data_eth_3(row):
    values = []
    
    if pd.notna(row['full_ans_eth_3']):
        try:
            parts = str(row['full_ans_eth_3']).split('\n')
            
            for part in parts:
                cleaned_part = part.strip()
                
                if not cleaned_part:
                    continue
                    
                try:
                    num = float(cleaned_part)
                    values.append(num)
                except ValueError:
                    continue

            result = [np.nan] * 6
            for i in range(min(len(values), 6)):
                result[i] = values[i]

            for i, col in enumerate(['Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex', 'Q194_yandex', 'Q195_yandex']):
                row[col] = result[i]
                
        except Exception as error_in_data:
            print(f"Ошибка обработки строки {row.name}: {error_in_data}")
            for col in ['Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex', 'Q194_yandex', 'Q195_yandex']:
                row[col] = np.nan
                
    else:
        for col in ['Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex', 'Q194_yandex', 'Q195_yandex']:
            row[col] = np.nan
            
    return row

In [38]:
def clean_data_sci(row):
    values = []
    
    if pd.notna(row['full_ans_sci']):
        try:
            parts = str(row['full_ans_sci']).split('\n')
            
            for part in parts:
                cleaned_part = part.strip()
                
                if not cleaned_part:
                    continue
                    
                try:
                    num = float(cleaned_part)
                    values.append(num)
                except ValueError:
                    continue

            result = [np.nan] * 5
            for i in range(min(len(values), 5)):
                result[i] = values[i]

            for i, col in enumerate(['Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex', 'Q162_yandex']):
                row[col] = result[i]
                
        except Exception as error_in_data:
            print(f"Ошибка обработки строки {row.name}: {error_in_data}")
            for col in ['Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex', 'Q162_yandex']:
                row[col] = np.nan
                
    else:
        for col in ['Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex', 'Q162_yandex']:
            row[col] = np.nan
            
    return row

In [39]:
df_final = df_final.apply(clean_data_eth_2, axis = 1)
df_final = df_final.apply(clean_data_eth_3, axis = 1)
df_final = df_final.apply(clean_data_sci, axis = 1)

In [40]:
df_final.head()

,index,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,A_STUDY,B_COUNTRY,country,...,Q191_yandex,Q192_yandex,Q193_yandex,Q194_yandex,Q195_yandex,Q158_yandex,Q159_yandex,Q160_yandex,Q161_yandex,Q162_yandex
0,0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,1.0,1.0,4.0,1.0,3.0,9.0,8.0,4.0,3.0,2.0
1,1,1,1,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,1.0,1.0,3.0,1.0,2.0,9.0,8.0,3.0,4.0,2.0
2,2,2,2,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,1.0,1.0,3.0,1.0,2.0,8.0,9.0,3.0,4.0,2.0
3,3,3,3,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,1.0,1.0,4.0,1.0,3.0,8.0,9.0,3.0,4.0,3.0
4,4,4,4,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,1.0,1.0,4.0,1.0,3.0,9.0,8.0,3.0,4.0,3.0

In [42]:
df_final.to_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/df_for_analysis_yandex.csv')