In [2]:
import openai 
import pandas as pd
from tqdm import tqdm

In [3]:
openai.api_key = "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"

In [14]:
df = pd.read_csv('/Users/rusya/Documents/synthetic_data/questions_new/parts_eng 2/df9.csv') 
df

,Unnamed: 0.1,Unnamed: 0,prompt,instr_ethical_1,instr_ethical_2,instr_ethical_3,instr_science,answer_format,answer_format_output,country
0,5043,5043,It is 2018.\nYour age is 55\nYou are a man.\nY...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",BGD
1,5044,5044,It is 2018.\nYour age is 60\nYou are a man.\nY...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",BGD
2,5045,5045,It is 2018.\nYour age is 35\nYou are a man.\nY...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",BGD
3,5046,5046,It is 2018.\nYour age is 32\nYou are a woman.\...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",BGD
4,5047,5047,It is 2018.\nYour age is 22\nYou are a woman.\...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",BGD
...,...,...,...,...,...,...,...,...,...,...
7892,26999,26999,It is 2020.\nYour age is 19\nYou are a woman.\...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",ETH
7893,27000,27000,It is 2020.\nYour age is 32\nYou are a woman.\...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",ETH
7894,27001,27001,It is 2020.\nYour age is 33\nYou are a man.\nY...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",ETH
7895,27002,27002,It is 2020.\nYour age is 26\nYou are a woman.\...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",ETH
7896,27003,27003,It is 2020.\nYour age is 27\nYou are a man.\nY...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...,You receive a description of characteristics a...,"As a response, you should provide a sequence o...",ETH

In [9]:
df_ans2 = pd.DataFrame(columns=['FULL_ANS_instr_science','Q158', 'Q159', 'Q160', 'Q161', 'Q162'])
df_ans2

Empty DataFrame
Columns: [FULL_ANS_instr_science, Q158, Q159, Q160, Q161, Q162]
Index: []

In [5]:
for i in tqdm(range(7312, 7313)): 
    full_prompt = df.loc[i, 'prompt']
    answer_format = df.loc[i, 'answer_format']
    instr_ethical_1 = df.loc[i, 'instr_science']
    answer_format_output = df.loc[i, 'answer_format_output']
    
    # lang = df.loc[i, 'lang']

    # if (lang != 'oth'):
    try:

        response = openai.chat.completions.create(
            model = "gpt-4o",
            messages = [
                    {"role": "system", "content": full_prompt},
                    {"role": "user", "content": f'{answer_format}. {instr_ethical_1}. {answer_format_output}.'}
                    ],
                temperature = 1
            )   
        answers = response.choices[0].message.content   
        print(answers)
        parts = [part.strip() for part in answers.split('\n') if part.strip()]     
        

        # if len(parts) != 5:
        #     print(f"Warning: Unexpected number of parts ({len(parts)}) for index {i}. Full answer:")
        #     print(answers)
        # else:
        #     for j in range(5):
        #         df_ans2.at[i, f'Q{158 + j}'] = parts[j]
    except:
        continue
    # else:
    #     continue

  0%|          | 0/1 [00:00<?, ?it/s]

100%|██████████| 1/1 [00:01<00:00,  1.81s/it]

8
9
3
4
3

In [ ]:
df_ans2

In [ ]:
print(df_ans2.columns)

In [ ]:
df_ans_before = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df4_science_results.csv')

In [ ]:
df_ans_before.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
print(df_ans_before.iloc[:3871].columns)

In [ ]:
subset = df_ans_before.iloc[:3871]
subset

In [ ]:
subset1 = df_ans_before.iloc[3879:]
subset1

In [ ]:
combined2 = pd.concat([subset, df_ans2], ignore_index=True)
combined2

In [ ]:
combined3 = pd.concat([combined2, subset1], ignore_index=True)
combined3

In [ ]:
combined.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df4_science_not_all.csv')

# Блок Науки, проверка длины массивов

In [29]:
df1_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df1_science_results.csv')
df2_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df2_science_results.csv')
df3_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df3_science_results.csv')
df4_science = pd.read_csv('/Users/rusya/df4_science_not_all_i_promise_all_data.csv', delimiter=';')
df5_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df5_science_results.csv')
df6_science = pd.read_csv('/Users/rusya/df6_science_results_alllllll_finallllll.csv', delimiter=';')
df7_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df7_science_results.csv')
df8_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df8_science_results.csv')
df9_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df9_science_results_all_finally.csv')
df10_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df10_science_results_all.csv')
df11_science = pd.read_csv('/Users/rusya/df11_science_results_all_finally_allllll_aLllll_aaaalsslslsl.csv', delimiter=';')
df12_science = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/science_final_ans/df12_science_results.csv')

In [30]:
print(len(df1_science))
print(len(df2_science))
print(len(df3_science))
print(len(df4_science))
print(len(df5_science))
print(len(df6_science))
print(len(df7_science))
print(len(df8_science))
print(len(df9_science))
print(len(df10_science))
print(len(df11_science))
print(len(df12_science))

9010
9484
11019
7643
8092
7313
6127
8102
7897
6043
7437
7240

# Блок Этики 1, проверка длиныв массивов

In [8]:
df1_ethical_1 = pd.read_csv('/Users/rusya/df1_ethical_1_results_all_1_9009.csv', delimiter=';')
df2_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df2_ethical_1_results_all_1.csv', delimiter=';')
df3_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df3_ethical_1_results_all_1.csv', delimiter=';')
df4_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df4_ethical_1_results_all_1.csv', delimiter=';')
df5_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df5_ethical_1_results_all_1.csv', delimiter=';')
df6_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df6_ethical_1_results_all_1.csv', delimiter=';')
df7_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df7_ethical_1_results_all_1.csv', delimiter=';')
df8_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df8_ethical_1_results_all_1.csv', delimiter=';')
df9_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df9_ethical_1_results_all_1.csv', delimiter=';')
df10_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df10_ethical_1_results_all_1.csv', delimiter=';')
df11_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df11_ethical_1_results_all_1.csv', delimiter=';')
df12_ethical_1 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_1_final_ans_all/df12_ethical_1_results_all_1.csv', delimiter=';')

In [ ]:
print(len(df1_ethical_1))
print(len(df2_ethical_1))
print(len(df3_ethical_1))
print(len(df4_ethical_1))
print(len(df5_ethical_1))
print(len(df6_ethical_1))
print(len(df7_ethical_1))
print(len(df8_ethical_1))
print(len(df9_ethical_1))
print(len(df10_ethical_1))
print(len(df11_ethical_1))
print(len(df12_ethical_1))

# Блок Этики 2, проверка длиныв массивов

In [9]:
df1_ethical_2 = pd.read_csv('/Users/rusya/df1_ethical_2_results_full_ans.csv', delimiter=';')
df2_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df2_ethical_2_results.csv')
df3_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df3_ethical_2_results.csv')
df4_ethical_2 = pd.read_csv('/Users/rusya/df4_ethical_2_results_all_7643.csv', delimiter=';')
df5_ethical_2 = pd.read_csv('/Users/rusya/df5_ethical_2_results_all_all.csv', delimiter=';')
df6_ethical_2 = pd.read_csv('/Users/rusya/df6_ethical_2_results_all_df_7313.csv', delimiter=';')
df7_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df7_ethical_2_results.csv')
df8_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df8_ethical_2_results.csv')
df9_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df9_ethical_2_results.csv')
df10_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df10_ethical_2_results.csv')
df11_ethical_2 = pd.read_csv('/Users/rusya/df11_ethical_2_results_all_df_final_ans.csv', delimiter=';')
df12_ethical_2 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_2_final_ans/df12_ethical_2_results.csv')

In [13]:
print(len(df1_ethical_2))
print(len(df2_ethical_2))
print(len(df3_ethical_2))
print(len(df4_ethical_2))
print(len(df5_ethical_2))
print(len(df6_ethical_2))
print(len(df7_ethical_2))
print(len(df8_ethical_2))
print(len(df9_ethical_2))
print(len(df10_ethical_2))
print(len(df11_ethical_2))
print(len(df12_ethical_2))

9010
9484
11019
7643
8092
7313
6127
8102
7897
6043
7437
7240

# Блок Этики 3, проверка длиныв массивов

In [10]:
df1_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df1_ethical_3_results.csv')
df2_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df2_ethical_3_results.csv')
df3_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df3_ethical_3_results.csv')
df4_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df4_ethical_3_results.csv')
df5_ethical_3 = pd.read_csv('/Users/rusya/df5_ethical_3_results_ll_res_ans.csv', delimiter=';')
df6_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df6_ethical_3_results.csv')
df7_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df7_ethical_3_results.csv')
df8_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df8_ethical_3_results.csv')
df9_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df9_ethical_3_results.csv')
df10_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df10_ethical_3_results.csv')
df11_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df11_ethical_3_results.csv')
df12_ethical_3 = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ethical_3_final_ans/df12_ethical_3_results.csv')

In [20]:
print(len(df1_ethical_3))
print(len(df2_ethical_3))
print(len(df3_ethical_3))
print(len(df4_ethical_3))
print(len(df5_ethical_3))
print(len(df6_ethical_3))
print(len(df7_ethical_3))
print(len(df8_ethical_3))
print(len(df9_ethical_3))
print(len(df10_ethical_3))
print(len(df11_ethical_3))
print(len(df12_ethical_3))

9010
9484
11019
7643
8092
7313
6127
8102
7897
6043
7437
7240

In [ ]:
print(len(df2_ethical_3))

# Сбор 48 массивов в 12 штук

Соберем массивы с номерами 3, 7, 8, 12

Начнем с номера 3:

In [ ]:
print(len(df3_ethical_1))
print(len(df3_ethical_2))
print(len(df3_ethical_3))
print(len(df3_science))

In [ ]:
for i in tqdm(range(len(df3_ethical_1))):
    for j in range(7):
        df3_ethical_1.loc[i, f'Q{183 + j}'] = df3_ethical_2.loc[i, f'Q{183 + j}']
        
for i in tqdm(range(len(df3_ethical_1))):
    for j in range(6):
        df3_ethical_1.loc[i, f'Q{190 + j}'] = df3_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df3_ethical_1))):
    for j in range(5):
        df3_ethical_1.loc[i, f'Q{158 + j}'] = df3_science.loc[i, f'Q{158 + j}']

df3_ethical_1

In [ ]:
df3_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df3_all_data_result', sep=',')

Затем номер 7:

In [ ]:
print(len(df7_ethical_1))
print(len(df7_ethical_2))
print(len(df7_ethical_3))
print(len(df7_science))

In [ ]:
for i in tqdm(range(len(df7_ethical_1))):
    for j in range(7):
        df7_ethical_1.loc[i, f'Q{183 + j}'] = df7_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df7_ethical_1))):
    for j in range(6):
        df7_ethical_1.loc[i, f'Q{190 + j}'] = df7_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df7_ethical_1))):
    for j in range(5):
        df7_ethical_1.loc[i, f'Q{158 + j}'] = df7_science.loc[i, f'Q{158 + j}']

df7_ethical_1

In [ ]:
df7_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df7_all_data_result', sep=',')

Затем номер 8:

In [ ]:
print(len(df8_ethical_1))
print(len(df8_ethical_2))
print(len(df8_ethical_3))
print(len(df8_science))

In [ ]:
for i in tqdm(range(len(df8_ethical_1))):
    for j in range(7):
        df8_ethical_1.loc[i, f'Q{183 + j}'] = df8_ethical_2.loc[i, f'Q{183 + j}']
        
for i in tqdm(range(len(df8_ethical_1))):
    for j in range(6):
        df8_ethical_1.loc[i, f'Q{190 + j}'] = df8_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df8_ethical_1))):
    for j in range(5):
        df8_ethical_1.loc[i, f'Q{158 + j}'] = df8_science.loc[i, f'Q{158 + j}']

df8_ethical_1

In [ ]:
df8_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df8_all_data_result', sep=',')

Затем номер 12:

In [ ]:
print(len(df12_ethical_1))
print(len(df12_ethical_2))
print(len(df12_ethical_3))
print(len(df12_science))

In [ ]:
for i in tqdm(range(len(df12_ethical_1))):
    for j in range(7):
        df12_ethical_1.loc[i, f'Q{183 + j}'] = df12_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df12_ethical_1))):
    for j in range(6):
        df12_ethical_1.loc[i, f'Q{190 + j}'] = df12_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df12_ethical_1))):
    for j in range(5):
        df12_ethical_1.loc[i, f'Q{158 + j}'] = df12_science.loc[i, f'Q{158 + j}']

df12_ethical_1

In [ ]:
df12_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df12_all_data_result', sep=',')

Dataframe 2

In [ ]:
print(len(df2_ethical_1))
print(len(df2_ethical_2))
print(len(df2_ethical_3))
print(len(df2_science))

In [ ]:
for i in tqdm(range(len(df2_ethical_1))):
    for j in range(7):
        df2_ethical_1.loc[i, f'Q{183 + j}'] = df2_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df2_ethical_1))):
    for j in range(6):
        df2_ethical_1.loc[i, f'Q{190 + j}'] = df2_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df2_ethical_1))):
    for j in range(5):
        df2_ethical_1.loc[i, f'Q{158 + j}'] = df2_science.loc[i, f'Q{158 + j}']

df2_ethical_1

In [ ]:
df2_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df2_all_data_result', sep=',')

Dataframe 11:

In [ ]:
df11_ethical_2

In [ ]:
print(len(df11_ethical_1))
print(len(df11_ethical_2))
print(len(df11_ethical_3))
print(len(df11_science))

In [ ]:
for i in tqdm(range(len(df11_ethical_1))):
    for j in range(7):
        df11_ethical_1.loc[i, f'Q{183 + j}'] = df11_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df11_ethical_1))):
    for j in range(6):
        df11_ethical_1.loc[i, f'Q{190 + j}'] = df11_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df11_ethical_1))):
    for j in range(5):
        df11_ethical_1.loc[i, f'Q{158 + j}'] = df11_science.loc[i, f'Q{158 + j}']

DataFrame 10:

In [ ]:
print(len(df10_ethical_1))
print(len(df10_ethical_2))
print(len(df10_ethical_3))
print(len(df10_science))

In [ ]:
for i in tqdm(range(len(df10_ethical_1))):
    for j in range(7):
        df10_ethical_1.loc[i, f'Q{183 + j}'] = df10_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df10_ethical_1))):
    for j in range(6):
        df10_ethical_1.loc[i, f'Q{190 + j}'] = df10_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df10_ethical_1))):
    for j in range(5):
        df10_ethical_1.loc[i, f'Q{158 + j}'] = df10_science.loc[i, f'Q{158 + j}']

df10_ethical_1

In [ ]:
df10_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df10_all_data_result')

DataFrame 1:

In [ ]:
print(len(df1_ethical_1))
print(len(df1_ethical_2))
print(len(df1_ethical_3))
print(len(df1_science))

In [ ]:
for i in tqdm(range(len(df1_ethical_1))):
    for j in range(7):
        df1_ethical_1.loc[i, f'Q{183 + j}'] = df1_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df1_ethical_1))):
    for j in range(6):
        df1_ethical_1.loc[i, f'Q{190 + j}'] = df1_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df1_ethical_1))):
    for j in range(5):
        df1_ethical_1.loc[i, f'Q{158 + j}'] = df1_science.loc[i, f'Q{158 + j}']

df1_ethical_1

In [ ]:
df1_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df1_all_data_result')

DataFrame 5:

In [24]:
print(len(df5_ethical_1))
print(len(df5_ethical_2))
print(len(df5_ethical_3))
print(len(df5_science))

8092
8092
8092
8092

In [25]:
for i in tqdm(range(len(df5_ethical_1))):
    for j in range(7):
        df5_ethical_1.loc[i, f'Q{183 + j}'] = df5_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df5_ethical_1))):
    for j in range(6):
        df5_ethical_1.loc[i, f'Q{190 + j}'] = df5_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df5_ethical_1))):
    for j in range(5):
        df5_ethical_1.loc[i, f'Q{158 + j}'] = df5_science.loc[i, f'Q{158 + j}']

df5_ethical_1

100%|██████████| 8092/8092 [00:04<00:00, 1780.83it/s]
100%|██████████| 8092/8092 [00:04<00:00, 2020.99it/s]
100%|██████████| 8092/8092 [00:03<00:00, 2338.91it/s]

,Unnamed: 0,FULL_ANS_instr_ethical_1,FULL_ANS_instr_ethical_2,FULL_ANS_instr_ethical_3,FULL_ANS_instr_science,Q158,Q159,Q160,Q161,Q162,...,Q186,Q187,Q188,Q189,Q190,Q191,Q192,Q193,Q194,Q195
0,0,2 \n3 \n2 \n3 \n2 \n6,NaN,NaN,NaN,9.0,8.0,3.0,4.0,5.0,...,8.0,4.0,5.0,1.0,2.0,1.0,1.0,5.0,2.0,4.0
1,1,1 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,8.0,9.0,6.0,4.0,3.0,...,7.0,4.0,5.0,1.0,3.0,2.0,1.0,6.0,3.0,4.0
2,2,3 \n4 \n2 \n3 \n2 \n5,NaN,NaN,NaN,6.0,8.0,4.0,5.0,7.0,...,7.0,4.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,4.0
3,3,2 \n3 \n2 \n3 \n2 \n5,NaN,NaN,NaN,8.0,9.0,3.0,4.0,5.0,...,6.0,3.0,4.0,1.0,2.0,1.0,1.0,5.0,3.0,4.0
4,4,2 \n3 \n2 \n3 \n2 \n5,NaN,NaN,NaN,8.0,9.0,3.0,4.0,5.0,...,6.0,4.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,8087,2 \n3 \n2 \n3 \n2 \n6,NaN,NaN,NaN,9.0,8.0,2.0,3.0,4.0,...,8.0,4.0,6.0,1.0,2.0,1.0,1.0,6.0,3.0,5.0
8088,8088,1 \n2 \n1 \n3 \n2 \n6,NaN,NaN,NaN,9.0,9.0,3.0,4.0,2.0,...,8.0,4.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,6.0
8089,8089,2 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,8.0,9.0,4.0,5.0,3.0,...,8.0,3.0,5.0,1.0,1.0,1.0,1.0,5.0,2.0,6.0
8090,8090,1 \n2 \n1 \n3 \n1 \n7,NaN,NaN,NaN,7.0,8.0,4.0,5.0,6.0,...,8.0,4.0,5.0,1.0,2.0,1.0,1.0,5.0,2.0,4.0
8091,8091,1 \n2 \n1 \n2 \n1 \n6,NaN,NaN,NaN,8.0,9.0,4.0,3.0,5.0,...,7.0,2.0,5.0,1.0,2.0,1.0,1.0,4.0,2.0,5.0

In [26]:
df5_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df5_all_data_result')

DataFrame 4:

In [35]:
print(len(df4_ethical_1))
print(len(df4_ethical_2))
print(len(df4_ethical_3))
print(len(df4_science))

7643
7643
7643
7643

In [36]:
for i in tqdm(range(len(df4_ethical_1))):
    for j in range(7):
        df4_ethical_1.loc[i, f'Q{183 + j}'] = df4_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df4_ethical_1))):
    for j in range(6):
        df4_ethical_1.loc[i, f'Q{190 + j}'] = df4_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df4_ethical_1))):
    for j in range(5):
        df4_ethical_1.loc[i, f'Q{158 + j}'] = df4_science.loc[i, f'Q{158 + j}']

df4_ethical_1

100%|██████████| 7643/7643 [00:04<00:00, 1749.40it/s]
100%|██████████| 7643/7643 [00:03<00:00, 1914.41it/s]
100%|██████████| 7643/7643 [00:03<00:00, 2505.38it/s]

,Unnamed: 0,FULL_ANS_instr_ethical_1,FULL_ANS_instr_ethical_2,FULL_ANS_instr_ethical_3,FULL_ANS_instr_science,Q158,Q159,Q160,Q161,Q162,...,Q186,Q187,Q188,Q189,Q190,Q191,Q192,Q193,Q194,Q195
0,0,1 \n2 \n1 \n2 \n1 \n1,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,5.0
1,1,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,7.0,8.0,6.0,5.0,7.0,...,3.0,1.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,5.0
2,2,1 \n2 \n1 \n2 \n1 \n2,NaN,NaN,NaN,6.0,7.0,8.0,5.0,7.0,...,2.0,1.0,1.0,1.0,2.0,2.0,1.0,4.0,2.0,5.0
3,3,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,6.0,7.0,8.0,7.0,5.0,...,2.0,1.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
4,4,1 \n2 \n1 \n2 \n1 \n4,NaN,NaN,NaN,6.0,7.0,5.0,4.0,6.0,...,2.0,1.0,1.0,1.0,3.0,2.0,1.0,3.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7638,7638,2 \n3 \n2 \n3 \n2 \n7,NaN,NaN,NaN,8.0,9.0,3.0,4.0,5.0,...,9.0,4.0,5.0,1.0,3.0,2.0,1.0,6.0,2.0,5.0
7639,7639,2 \n3 \n2 \n3 \n1 \n5,NaN,NaN,NaN,8.0,9.0,4.0,3.0,5.0,...,7.0,4.0,5.0,1.0,2.0,1.0,1.0,6.0,2.0,5.0
7640,7640,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,7.0,8.0,6.0,5.0,7.0,...,3.0,3.0,2.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0
7641,7641,2 \n3 \n1 \n2 \n1 \n5,NaN,NaN,NaN,7.0,8.0,5.0,6.0,4.0,...,7.0,3.0,4.0,1.0,2.0,1.0,1.0,6.0,3.0,5.0
7642,7642,1 \n2 \n2 \n3 \n2 \n7,NaN,NaN,NaN,8.0,9.0,4.0,3.0,5.0,...,6.0,4.0,5.0,1.0,2.0,1.0,1.0,5.0,2.0,5.0

In [37]:
df4_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df4_all_data_result')

DataFrame 6:

In [11]:
print(len(df6_ethical_1))
print(len(df6_ethical_2))
print(len(df6_ethical_3))
print(len(df6_science))

7313
7313
7313
7313

In [12]:
for i in tqdm(range(len(df6_ethical_1))):
    for j in range(7):
        df6_ethical_1.loc[i, f'Q{183 + j}'] = df6_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df6_ethical_1))):
    for j in range(6):
        df6_ethical_1.loc[i, f'Q{190 + j}'] = df6_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df6_ethical_1))):
    for j in range(5):
        df6_ethical_1.loc[i, f'Q{158 + j}'] = df6_science.loc[i, f'Q{158 + j}']

df6_ethical_1

100%|██████████| 7313/7313 [00:04<00:00, 1740.73it/s]
100%|██████████| 7313/7313 [00:03<00:00, 2067.25it/s]
100%|██████████| 7313/7313 [00:02<00:00, 2501.15it/s]

,Unnamed: 0,FULL_ANS_instr_ethical_1,FULL_ANS_instr_ethical_2,FULL_ANS_instr_ethical_3,FULL_ANS_instr_science,Q158,Q159,Q160,Q161,Q162,...,Q186,Q187,Q188,Q189,Q190,Q191,Q192,Q193,Q194,Q195
0,0,1 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,7.0,8.0,6.0,5.0,6.0,...,4.0,2.0,4.0,1.0,2.0,1.0,1.0,3.0,2.0,5.0
1,1,1 \n2 \n2 \n2 \n1 \n5,NaN,NaN,NaN,7.0,8.0,6.0,6.0,5.0,...,6.0,4.0,5.0,1.0,1.0,1.0,1.0,4.0,1.0,5.0
2,2,1 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,7.0,8.0,4.0,5.0,6.0,...,5.0,2.0,4.0,1.0,1.0,1.0,1.0,5.0,1.0,6.0
3,3,1 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,8.0,9.0,5.0,6.0,6.0,...,5.0,3.0,4.0,1.0,1.0,1.0,1.0,4.0,1.0,5.0
4,4,1 \n2 \n1 \n2 \n1 \n6,NaN,NaN,NaN,8.0,9.0,4.0,3.0,5.0,...,7.0,4.0,5.0,1.0,2.0,1.0,1.0,6.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7308,7308,1 \n2 \n1 \n2 \n1 \n4,NaN,NaN,NaN,6.0,7.0,8.0,6.0,4.0,...,5.0,3.0,4.0,1.0,1.0,1.0,1.0,5.0,2.0,4.0
7309,7309,1 \n2 \n1 \n2 \n1 \n4,NaN,NaN,NaN,6.0,7.0,8.0,5.0,6.0,...,5.0,2.0,3.0,1.0,2.0,1.0,1.0,3.0,1.0,4.0
7310,7310,1 \n1 \n1 \n1 \n1 \n5,NaN,NaN,NaN,9.0,8.0,3.0,4.0,2.0,...,5.0,3.0,4.0,1.0,1.0,1.0,1.0,5.0,2.0,4.0
7311,7311,3 \n4 \n2 \n3 \n2 \n8,NaN,NaN,NaN,8.0,9.0,3.0,4.0,6.0,...,9.0,4.0,7.0,1.0,1.0,1.0,1.0,7.0,3.0,4.0
7312,7312,2 \n2 \n2 \n3 \n2 \n8,NaN,NaN,NaN,8.0,9.0,3.0,4.0,3.0,...,9.0,3.0,6.0,1.0,1.0,1.0,1.0,6.0,2.0,3.0

In [13]:
df6_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df6_all_data_result')

DataFrame 9:

In [17]:
print(len(df9_ethical_1))
print(len(df9_ethical_2))
print(len(df9_ethical_3))
print(len(df9_science))

7987
7897
7897
7897

In [19]:
print(len(df9_ethical_1), len(df9_ethical_2))

7987 7897

In [22]:
df9_ethical_12 = df9_ethical_1.iloc[:7897]
df9_ethical_12

,Unnamed: 0,FULL_ANS_instr_ethical_1,FULL_ANS_instr_ethical_2,FULL_ANS_instr_ethical_3,FULL_ANS_instr_science,Q158,Q159,Q160,Q161,Q162,...,Q186,Q187,Q188,Q189,Q190,Q191,Q192,Q193,Q194,Q195
0,0,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2 \n3 \n2 \n3 \n2 \n4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1 \n2 \n1 \n2 \n1 \n1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7892,7892,1 \n2 \n1 \n1 \n1 \n3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7893,7893,2 \n3 \n1 \n2 \n1 \n5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7894,7894,2 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7895,7895,1 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
7896,7896,1 \n2 \n1 \n2 \n1 \n4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
for i in tqdm(range(len(df9_ethical_12))):
    for j in range(7):
        df9_ethical_12.loc[i, f'Q{183 + j}'] = df9_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df9_ethical_12))):
    for j in range(6):
        df9_ethical_12.loc[i, f'Q{190 + j}'] = df9_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df9_ethical_12))):
    for j in range(5):
        df9_ethical_12.loc[i, f'Q{158 + j}'] = df9_science.loc[i, f'Q{158 + j}']

df9_ethical_12

100%|██████████| 7897/7897 [00:04<00:00, 1823.03it/s]
100%|██████████| 7897/7897 [00:03<00:00, 2137.92it/s]
100%|██████████| 7897/7897 [00:03<00:00, 2567.17it/s]

,Unnamed: 0,FULL_ANS_instr_ethical_1,FULL_ANS_instr_ethical_2,FULL_ANS_instr_ethical_3,FULL_ANS_instr_science,Q158,Q159,Q160,Q161,Q162,...,Q186,Q187,Q188,Q189,Q190,Q191,Q192,Q193,Q194,Q195
0,0,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,8.0,9.0,4.0,5.0,6.0,...,3.0,2.0,2.0,1.0,3.0,2.0,1.0,4.0,3.0,5.0
1,1,2 \n3 \n2 \n3 \n2 \n4,NaN,NaN,NaN,6.0,7.0,7.0,5.0,8.0,...,3.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,5.0
2,2,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,8.0,7.0,5.0,6.0,6.0,...,3.0,1.0,1.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
3,3,1 \n2 \n1 \n2 \n1 \n1,NaN,NaN,NaN,6.0,7.0,8.0,5.0,6.0,...,2.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,3.0
4,4,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,8.0,9.0,4.0,5.0,6.0,...,3.0,2.0,3.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7892,7892,1 \n2 \n1 \n1 \n1 \n3,NaN,NaN,NaN,8.0,9.0,4.0,3.0,5.0,...,3.0,2.0,2.0,1.0,1.0,1.0,1.0,5.0,1.0,3.0
7893,7893,2 \n3 \n1 \n2 \n1 \n5,NaN,NaN,NaN,6.0,7.0,9.0,8.0,7.0,...,3.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0
7894,7894,2 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,7.0,8.0,6.0,5.0,5.0,...,5.0,2.0,3.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0
7895,7895,1 \n2 \n1 \n2 \n1 \n5,NaN,NaN,NaN,6.0,7.0,8.0,5.0,7.0,...,5.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,3.0
7896,7896,1 \n2 \n1 \n2 \n1 \n4,NaN,NaN,NaN,7.0,8.0,5.0,4.0,6.0,...,3.0,2.0,2.0,1.0,2.0,1.0,1.0,4.0,2.0,3.0

In [25]:
df9_ethical_12.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df9_all_data_result')

DataFrame 11:

In [31]:
print(len(df11_ethical_1))
print(len(df11_ethical_2))
print(len(df11_ethical_3))
print(len(df11_science))

7437
7437
7437
7437

In [32]:
for i in tqdm(range(len(df11_ethical_1))):
    for j in range(7):
        df11_ethical_1.loc[i, f'Q{183 + j}'] = df11_ethical_2.loc[i, f'Q{183 + j}']

for i in tqdm(range(len(df11_ethical_1))):
    for j in range(6):
        df11_ethical_1.loc[i, f'Q{190 + j}'] = df11_ethical_3.loc[i, f'Q{190 + j}']

for i in tqdm(range(len(df11_ethical_1))):
    for j in range(5):
        df11_ethical_1.loc[i, f'Q{158 + j}'] = df11_science.loc[i, f'Q{158 + j}']

df11_ethical_1

100%|██████████| 7437/7437 [00:04<00:00, 1824.76it/s]
100%|██████████| 7437/7437 [00:03<00:00, 2148.89it/s]
100%|██████████| 7437/7437 [00:02<00:00, 2575.84it/s]

,Unnamed: 0,FULL_ANS_instr_ethical_1,FULL_ANS_instr_ethical_2,FULL_ANS_instr_ethical_3,FULL_ANS_instr_science,Q158,Q159,Q160,Q161,Q162,...,Q186,Q187,Q188,Q189,Q190,Q191,Q192,Q193,Q194,Q195
0,0,1 \n1 \n1 \n2 \n1 \n2,NaN,NaN,NaN,8.0,8.0,6.0,5.0,7.0,...,3.0,2.0,3.0,1.0,2.0,1.0,1.0,4.0,2.0,3.0
1,1,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,8.0,9.0,4.0,3.0,6.0,...,4.0,3.0,3.0,1.0,1.0,1.0,1.0,4.0,2.0,3.0
2,2,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,7.0,8.0,6.0,4.0,5.0,...,4.0,3.0,2.0,1.0,1.0,1.0,1.0,4.0,2.0,5.0
3,3,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,8.0,9.0,6.0,5.0,7.0,...,2.0,1.0,1.0,1.0,2.0,1.0,1.0,3.0,2.0,5.0
4,4,1\n2\n1\n2\n1\n3,NaN,NaN,NaN,8.0,9.0,6.0,5.0,7.0,...,3.0,2.0,3.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7432,7432,1 \n1 \n1 \n1 \n1 \n3,NaN,NaN,NaN,6.0,7.0,8.0,7.0,9.0,...,4.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
7433,7433,2 \n3 \n2 \n3 \n2 \n5,NaN,NaN,NaN,6.0,7.0,8.0,7.0,5.0,...,2.0,1.0,1.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0
7434,7434,1 \n2 \n1 \n2 \n1 \n3,NaN,NaN,NaN,6.0,7.0,8.0,7.0,5.0,...,2.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
7435,7435,2 \n3 \n2 \n3 \n2 \n3,NaN,NaN,NaN,6.0,7.0,8.0,7.0,5.0,...,2.0,1.0,2.0,1.0,3.0,2.0,1.0,4.0,3.0,5.0
7436,7436,3 \n2 \n1 \n3 \n2 \n4,NaN,NaN,NaN,6.0,7.0,8.0,7.0,9.0,...,4.0,2.0,3.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0

In [ ]:
df11_ethical_1.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF/df11_all_data_result')