## Перевод промтов на **русский** ##

In [46]:
import pandas as pd

In [47]:
demo = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/WVS Wave 7/WVS_Cross-National_Wave_7_csv_v6_0.csv')

/var/folders/2w/pb1tg6913llbt6y2rwws4nb00000gn/T/ipykernel_869/2732021378.py:1: DtypeWarning: Columns (349,351,353,583,584,585,586) have mixed types. Specify dtype option on import or set low_memory=False.
  demo = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/WVS Wave 7/WVS_Cross-National_Wave_7_csv_v6_0.csv')

In [48]:
demo.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,A_STUDY,B_COUNTRY,B_COUNTRY_ALPHA,...,WVS_Polmistrust_PartyVoter,WVS_LR_MedianVoter,WVS_LibCon_MedianVoter,v2psbars,v2psorgs,v2psprbrch,v2psprlnks,v2psplats,v2xnp_client,v2xps_party
0,0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,62.434211,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
1,1,1,1,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,62.434211,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2,2,2,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,62.434211,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,3,3,3,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,4,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,2,20,AND,...,66.964286,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [49]:
len(set(demo['B_COUNTRY_ALPHA'].to_list()))

66

In [50]:
Q260 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q260_new.csv')
Q262 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q262_new.csv')
Q272 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q272_new_eng_rus_FINAL.csv')
Q273 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q273_new.csv')
Q274 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q274_new.csv')
Q275 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q275_new.csv')
Q281 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q281_new.csv')
# Q284 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q284_new.csv')
Q287 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q287_new.csv')
Q288R = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q288_new.csv')
Q289 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q289_new.csv')
Q290 = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/Q290_new_eng_rus_FINAL.csv')
YEAR = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/YEAR_new.csv')
COUNTRY = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/questions/COUNTRY_NAME_new.csv')

## Приведем все названия колонок к цифрам ##

In [51]:
Q260.columns

Index(['Unnamed: 0', 'idx', 'lang', '1', '2', '-2', '-4', '-5'], dtype='object')

In [52]:
col = Q260.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q260.columns = col
Q260.columns

Index(['Unnamed: 0', 'idx', 'lang', 1, 2, -2, -4, -5], dtype='object')

In [53]:
print(Q262.columns)

col = Q262.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q262.columns = col
Q262.columns

Index(['Unnamed: 0', 'idx', 'lang', '0'], dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 0], dtype='object')

In [54]:
print(Q272.columns)

col = Q272.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q272.columns = col
Q272.columns

Index(['Unnamed: 0', 'idx', 'lang', '30', '40', '100', '140', '170', '200',
       '230',
       ...
       '4410', '4420', '4430', '4450', '4460', '4470', '4520', '4580', '4610',
       '4620'],
      dtype='object', length=161)

Index(['Unnamed: 0',        'idx',       'lang',           30,           40,
                100,          140,          170,          200,          230,
       ...
               4410,         4420,         4430,         4450,         4460,
               4470,         4520,         4580,         4610,         4620],
      dtype='object', length=161)

In [55]:
print(Q273.columns)

col = Q273.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q273.columns = col
Q273.columns

Index(['Unnamed: 0', 'idx', 'lang', '1', '2', '3', '4', '5', '6', '-1', '-5',
       '-2'],
      dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 1, 2, 3, 4, 5, 6, -1, -5, -2], dtype='object')

In [56]:
print(Q274.columns)

col = Q274.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q274.columns = col
Q274.columns

Index(['Unnamed: 0', 'idx', 'lang', '0', '-1', '-5', '-4', '-2'], dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 0, -1, -5, -4, -2], dtype='object')

In [57]:
print(Q275.columns)

col = Q275.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q275.columns = col
Q275.columns

Index(['Unnamed: 0', 'idx', 'lang', '0', '1', '2', '3', '4', '5', '6', '7',
       '8', '-1', '-5', '-2'],
      dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 0, 1, 2, 3, 4, 5, 6, 7, 8, -1, -5, -2], dtype='object')

In [58]:
print(Q281.columns)

col = Q281.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q281.columns = col
Q281.columns

Index(['Unnamed: 0', 'idx', 'lang', '0', '1', '2', '3', '4', '5', '6', '7',
       '8', '9', '10', '11', '-1', '-5', '-3', '-2'],
      dtype='object')

Index(['Unnamed: 0',        'idx',       'lang',            0,            1,
                  2,            3,            4,            5,            6,
                  7,            8,            9,           10,           11,
                 -1,           -5,           -3,           -2],
      dtype='object')

In [59]:
print(Q287.columns)

col = Q287.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q287.columns = col
Q287.columns

Index(['Unnamed: 0', 'idx', 'lang', '1', '2', '3', '4', '5', '-1', '-5', '-4',
       '-2'],
      dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 1, 2, 3, 4, 5, -1, -5, -4, -2], dtype='object')

In [60]:
print(Q288R.columns)

col = Q288R.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q288R.columns = col
Q288R.columns

Index(['Unnamed: 0', 'idx', 'lang', '1', '2', '3', '-1', '-5', '-2'], dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 1, 2, 3, -1, -5, -2], dtype='object')

In [61]:
print(Q289.columns)

col = Q289.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q289.columns = col
Q289.columns

Index(['Unnamed: 0', 'idx', 'lang', '0', '1', '2', '3', '4', '5', '6', '7',
       '8', '9', '-1', '-5', '-2'],
      dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1, -5, -2], dtype='object')

In [62]:
print(Q290.columns)

col = Q290.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
Q290.columns = col
Q290.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'idx', 'lang', '20001',
       '20002', '20003', '20004', '20005',
       ...
       '909003', '909005', '909007', '909010', '909013', '909014', '909015',
       '909016', '909017', '203001.0'],
      dtype='object', length=436)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2',        'idx',       'lang',
              20001,        20002,        20003,        20004,        20005,
       ...
             909003,       909005,       909007,       909010,       909013,
             909014,       909015,       909016,       909017,   '203001.0'],
      dtype='object', length=436)

In [63]:
print(YEAR.columns)

col = YEAR.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
YEAR.columns = col
YEAR.columns

Index(['Unnamed: 0', 'idx', 'lang', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype='object')

In [64]:
print(COUNTRY.columns)

col = COUNTRY.columns.to_list()
for i in range(len(col)):
    try:
        col[i] = int(col[i])
    except:
        pass
COUNTRY.columns = col
COUNTRY.columns

Index(['Unnamed: 0', 'idx', 'lang', 'ALB', 'AND', 'ARG', 'ARM', 'AUS', 'AUT',
       'AZE', 'BGD', 'BLR', 'BOL', 'BIH', 'BRA', 'BGR', 'CAN', 'CHL', 'CHN',
       'COL', 'HRV', 'CYP', 'CZE', 'DNK', 'ECU', 'EGY', 'EST', 'ETH', 'FIN',
       'FRA', 'GEO', 'DEU', 'GBR', 'GRC', 'GTM', 'HKG', 'HUN', 'ISL', 'IND',
       'IDN', 'IRN', 'IRQ', 'ITA', 'JPN', 'JOR', 'KAZ', 'KEN', 'KGZ', 'LVA',
       'LBN', 'LBY', 'LTU', 'MAC', 'MYS', 'MDV', 'MEX', 'MOR', 'MNG', 'MNE',
       'MMR', 'NLD', 'NZL', 'NIC', 'NGA', 'MKD', 'NIR', 'NOR', 'PAK', 'PER',
       'PHL', 'POL', 'PRT', 'PRI', 'ROU', 'RUS', 'SRB', 'SGP', 'SVK', 'SVN',
       'KOR', 'ESP', 'SWE', 'CHE', 'TWN', 'TJK', 'THA', 'TUN', 'TUR', 'UKR',
       'USA', 'URY', 'UZB', 'VNM', 'ZWE', 'VEN'],
      dtype='object')

Index(['Unnamed: 0', 'idx', 'lang', 'ALB', 'AND', 'ARG', 'ARM', 'AUS', 'AUT',
       'AZE', 'BGD', 'BLR', 'BOL', 'BIH', 'BRA', 'BGR', 'CAN', 'CHL', 'CHN',
       'COL', 'HRV', 'CYP', 'CZE', 'DNK', 'ECU', 'EGY', 'EST', 'ETH', 'FIN',
       'FRA', 'GEO', 'DEU', 'GBR', 'GRC', 'GTM', 'HKG', 'HUN', 'ISL', 'IND',
       'IDN', 'IRN', 'IRQ', 'ITA', 'JPN', 'JOR', 'KAZ', 'KEN', 'KGZ', 'LVA',
       'LBN', 'LBY', 'LTU', 'MAC', 'MYS', 'MDV', 'MEX', 'MOR', 'MNG', 'MNE',
       'MMR', 'NLD', 'NZL', 'NIC', 'NGA', 'MKD', 'NIR', 'NOR', 'PAK', 'PER',
       'PHL', 'POL', 'PRT', 'PRI', 'ROU', 'RUS', 'SRB', 'SGP', 'SVK', 'SVN',
       'KOR', 'ESP', 'SWE', 'CHE', 'TWN', 'TJK', 'THA', 'TUN', 'TUR', 'UKR',
       'USA', 'URY', 'UZB', 'VNM', 'ZWE', 'VEN'],
      dtype='object')

## Проверим значения demo на выбросы, которых нет в таблицах с вопросами ##

In [65]:
set(demo['Q260'].to_list()) - set(Q260.columns.to_list())

{-1}

In [66]:
Q260[-1] = pd.NA

In [67]:
set(demo['Q272'].to_list()) - set(Q272.columns.to_list())

{-5,
 -4,
 -2,
 -1,
 1105,
 1190,
 1940,
 2190,
 3750,
 3900,
 4530,
 9000,
 9040,
 9060,
 9900}

In [68]:
Q272[-5] = pd.NA
Q272[-4] = pd.NA
Q272[-2] = pd.NA
Q272[-1] = pd.NA

Q272[1105] = pd.NA
Q272[1190] = pd.NA
Q272[1940] = pd.NA
Q272[2190] = pd.NA
Q272[3750] = pd.NA
Q272[3900] = pd.NA
Q272[4530] = pd.NA
Q272[9000] = pd.NA
Q272[9040] = pd.NA
Q272[9060] = pd.NA
Q272[9900] = pd.NA

In [69]:
set(demo['Q272'].to_list()) - set(Q272.columns.to_list())

set()

In [70]:
set(demo['Q273'].to_list()) - set(Q273.columns.to_list())

set()

In [71]:
set(demo['Q275'].to_list()) - set(Q275.columns.to_list())

set()

In [72]:
set(demo['Q281'].to_list()) - set(Q281.columns.to_list())

set()

In [73]:
set(demo['Q287'].to_list()) - set(Q287.columns.to_list())

set()

In [74]:
set(demo['Q288R'].to_list()) - set(Q288R.columns.to_list())

set()

In [75]:
set(demo['Q289'].to_list()) - set(Q289.columns.to_list())

set()

In [76]:
set(demo['Q290'].to_list()) - set(Q290.columns.to_list())

{-5, -4, -3, -2, -1, 203001, 203003}

In [77]:
Q290[-5] = pd.NA
Q290[-4] = pd.NA
Q290[-3] = pd.NA
Q290[-2] = pd.NA
Q290[-1] = pd.NA

Q290[203001] = pd.NA
Q290[203003] = pd.NA

In [78]:
set(demo['A_YEAR'].to_list()) - set(YEAR.columns.to_list())

set()

In [79]:
set(demo['B_COUNTRY_ALPHA'].to_list()) - set(COUNTRY.columns.to_list())

set()

In [80]:
demo['B_COUNTRY_ALPHA'].to_list().count('MAR')

0

In [81]:
demo['B_COUNTRY_ALPHA'].to_list().count('MOR')

1200

#### видимо, марокко закодировали как 'MAR', хотя в кодировке - 'MOR'####

#### поменяем в demo все значения 'MAR' на 'MOR' ####

In [82]:
from tqdm import tqdm

In [83]:
for i in tqdm(range(len(demo))):
    if demo.loc[i, 'B_COUNTRY_ALPHA'] == 'MAR':
        demo.loc[i, 'B_COUNTRY_ALPHA'] = 'MOR'

  6%|▌         | 5939/97220 [00:00<00:01, 55725.01it/s]

100%|██████████| 97220/97220 [00:01<00:00, 95646.15it/s]

In [84]:
demo.to_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/WVS Wave 7/WVS_Cross-National_Wave_7_csv_v6_0.csv')

In [85]:
demo['B_COUNTRY_ALPHA'].to_list().count('MAR')

0

In [86]:
set(demo['B_COUNTRY_ALPHA'].to_list()) - set(COUNTRY.columns.to_list())

set()

## Сохраняем промты ##

In [87]:
df_for_processing_eng = pd.DataFrame(columns = ['prompt', 'instr_ethical_1', 'instr_ethical_2', 'instr_ethical_3', 'instr_science', 'answer_format', 'answer_format_output'])

In [88]:
Q260['idx'].to_list().index('en')

17

In [89]:
for i in tqdm(range(len(demo))):

    i_gender = demo.loc[i, 'Q260']
    gender = Q260.loc[17, i_gender]
    
    age = demo.loc[i, 'Q262']
    if int(age) < 0:
        your_age = ''
        age = ''
    else:
        your_age = Q262.loc[17, 0]

    i_marital = demo.loc[i, 'Q273']
    marital = Q273.loc[17, i_marital]

    children = demo.loc[i, 'Q274']
    if int(children) < 0:
        your_children = ''
        children = ''
    else:
        your_children = Q274.loc[17, 0]
        your_children += ':'

    i_education = demo.loc[i, 'Q275']
    education = Q275.loc[17, i_education]

    i_job = demo.loc[i, 'Q281']
    job = Q281.loc[17, i_job]

    i_social_class = demo.loc[i, 'Q287']
    social_class = Q287.loc[17, i_social_class]

    i_income = demo.loc[i, 'Q288R']
    income = Q288R.loc[17, i_income]
    
    i_religion = demo.loc[i, 'Q289']
    religion = Q289.loc[17, i_religion]

    i_year = demo.loc[i, 'A_YEAR']
    year = YEAR.loc[17, i_year]

    i_language = demo.loc[i, 'Q272']
    language = Q272.loc[0, i_language]

    i_race = demo.loc[i, 'Q290']
    race = Q290.loc[0, i_race]

    i_country = demo.loc[i, 'B_COUNTRY_ALPHA']
    country = COUNTRY.loc[17, str(i_country)]

    prompt = (f"{year}\n"
        f"{your_age} {age}\n"
        f"{gender}\n"
        f"{country}\n"
        f"{education}\n"
        f"{income}\n"  
        f"{job}\n"
        f"{social_class}\n"
        f"{marital}\n"
        f"{your_children} {children}\n"
        f"{religion}\n"
        f"{race}\n"
        f"{language}"
    )

    prompt = prompt.replace('\nnan.', '')
    prompt = prompt.replace('\n<NA>.', '')
    prompt = prompt.replace('\nnan', '')
    prompt = prompt.replace('\n<NA>', '')

    df_for_processing_eng.loc[i, 'prompt'] = prompt

  0%|          | 0/97220 [00:00<?, ?it/s]

100%|██████████| 97220/97220 [12:48<00:00, 126.43it/s]

In [90]:
df_for_processing_eng['country'] = demo['B_COUNTRY_ALPHA']

In [91]:
len(set(df_for_processing_eng['country'].to_list()))

66

## Добавим инструкции ##

In [92]:
df = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/instruction_user/instruction_user.csv')

In [93]:
df.head()

,Unnamed: 0,lang,lang_num,INSTR_SCIENCE,Q158,Q159,Q160,Q161,Q162,INSTR_ETHICAL,...,Q193,Q194,Q195,INSTR_ETHICAL_1,INSTR_ETHICAL_2,INSTR_ETHICAL_3,instruction_user_ethical_1,instruction_user_ethical_2,instruction_user_ethical_3,instruction_user_science
0,0,ca,810,"Si us plau, respongui sobre cadascuna de les s...",La ciència i la tecnología fan que les nostres...,Degut a la ciència i la tecnologia hi haurà mé...,Depenem massa de la ciència i massa poc de la fe,Una de las conseqüències dolentes de la ciènci...,Per mi no és important saber de ciència en la ...,"Si us plau, respongui sobre cadascuna de les a...",...,Tenir una relació sexual casual,La violència política,La pena de mort,"Si us plau, respongui sobre cadascuna de les a...","Si us plau, respongui sobre cadascuna de les a...","Si us plau, respongui sobre cadascuna de les a...","Si us plau, respongui sobre cadascuna de les a...","Si us plau, respongui sobre cadascuna de les a...","Si us plau, respongui sobre cadascuna de les a...","Si us plau, respongui sobre cadascuna de les s..."
1,1,en,1240,Please answer about each of the following stat...,Science and technology are making our lives he...,"Because of science and technology, there will ...",We depend too much on science and not enough o...,One of the bad effects of science is that it b...,It is not important for me to know about scien...,Please answer about each of the following acti...,...,Having casual sex,Political violence,Death penalty,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following acti...,Please answer about each of the following stat...
2,2,hy,200,Խնդրում ենք պատասխանել հետևյալ հայտարարություն...,Գիտությունը և տեխնոլոգիան մեր կյանքը դարձնում ...,Գիտության և տեխնոլոգիայի շնորհիվ հաջորդ սերուն...,"Մենք չափազանց շատ ենք կախված գիտությունից, իսկ...","Գիտության վատ հետևանքներից մեկն այն է, որ այն ...",. Իմ առօրյա կյանքում ինձ համար կարևոր չէ գիտու...,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,...,Պատահական սեռական կապը,Քաղաքական բռնությունը,Մահապատիժը,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,Խնդրում ենք պատասխանել հետևյալներից յուրաքանչյ...,Խնդրում ենք պատասխանել հետևյալ հայտարարություն...
3,3,bn,490,অনুগ্রহ করে নিম্নলিখিত বিবৃতিগুলির প্রতিটি সম্...,বিজ্ঞান এবং প্রযুক্তি আমাদের জীবনকে আরও স্বাস্...,". বিজ্ঞান ও প্রযুক্তির কারণে, পরবর্তী প্রজন্মে...",আমরা বিজ্ঞানের উপর খুব বেশি নির্ভর করি এবং বিশ...,বিজ্ঞানের একটি খারাপ প্রভাব হল এটি মানুষের সঠি...,আমার দৈনন্দিন জীবনে বিজ্ঞান সম্পর্কে জানা আমার...,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,...,নৈমিত্তিক যৌন হচ্ছে,রাজনৈতিক সহিংসতা,মৃত্যুদণ্ড,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,দয়া করে নীচের প্রতিটি ক্রিয়া সম্পর্কে উত্তর ...,অনুগ্রহ করে নিম্নলিখিত বিবৃতিগুলির প্রতিটি সম্...
4,4,pt,3530,"Por favor, responda sobre cada uma das seguint...",Ciência e tecnologia estão tornando nossa vida...,Devido à ciência e à tecnologia a próxima gera...,Nós dependemos muito da ciência e nem tanto da fé,Uma das coisas ruins da ciência é que ela acab...,Não é importante para mim saber de ciência no ...,"Por favor, responda sobre cada uma das seguint...",...,Ter sexo casual,Violência política,Pena de morte,"Por favor, responda sobre cada uma das seguint...","Por favor, responda sobre cada uma das seguint...","Por favor, responda sobre cada uma das seguint...","Por favor, responda sobre cada uma das seguint...","Por favor, responda sobre cada uma das seguint...","Por favor, responda sobre cada uma das seguint...","Por favor, responda sobre cada uma das seguint..."

In [94]:
df['lang'].to_list().index('en')

1

In [95]:
print(df.loc[1, 'instruction_user_science'])

Please answer about each of the following statements, how much you agree or disagree with each of these statements. For these questions, a 1 means that you “completely disagree” and a 10 means that you “completely agree.” Ratings from 1 to 5 mean that you rather disagree with the following statement. Ratings from 6 to 10 mean that you rather agree with the following statement. You would rate the statement with a 5 or 6 points mark if you do not think the statement is exactly agreeable or disagreeable.
Science and technology are making our lives healthier, easier, and more comfortable.
Because of science and technology, there will be more opportunities for the next generation.
We depend too much on science and not enough on faith.
One of the bad effects of science is that it breaks down people’s ideas of right and wrong.
It is not important for me to know about science in my daily life.

In [96]:
for i in tqdm(range(len(demo))):
    df_for_processing_eng.loc[i, 'instr_ethical_1'] = df.loc[1, 'instruction_user_ethical_1']
    df_for_processing_eng.loc[i, 'instr_ethical_2'] = df.loc[1, 'instruction_user_ethical_2']
    df_for_processing_eng.loc[i, 'instr_ethical_3'] = df.loc[1, 'instruction_user_ethical_3']
    df_for_processing_eng.loc[i, 'instr_science'] = df.loc[1, 'instruction_user_science']

100%|██████████| 97220/97220 [04:26<00:00, 364.41it/s]

## Добавим инструкции, уточняющие задание и формат вывода ##

In [97]:
answer_format = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/answers_format_new.csv')
answer_format_output = pd.read_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/answers_format_output_new.csv')

In [98]:
answer_format['idx'].to_list().index('en')

17

In [99]:
for i in tqdm(range(len(demo))):
    df_for_processing_eng.loc[i, 'answer_format'] = answer_format.loc[17, 'ans']
    df_for_processing_eng.loc[i, 'answer_format_output'] = answer_format_output.loc[17, 'ans']

100%|██████████| 97220/97220 [02:14<00:00, 725.34it/s]

In [100]:
df_for_processing_eng.to_csv('/Users/elizavetakuznecenkova/Library/CloudStorage/OneDrive-Personal/Документы/ВШЭ/Курсач/df_for_processing_eng/df_for_processing_eng.csv')

In [101]:
len(df_for_processing_eng)

97220