In [2]:
import openai 
import pandas as pd
import glob
import time
import numpy as np
from tqdm import tqdm

In [3]:
openai.api_key = "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"

In [4]:
df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/big_table.csv')
df_ans = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/answers_gpt.csv')
df_instructions_nums = pd.read_csv('/Users/rusya/Documents/synthetic_data/questions_new/answers_format_output_new.csv')
df_instructions = pd.read_csv('/Users/rusya/Documents/synthetic_data/questions_new/answers_format_new.csv')

In [5]:
df_instructions.set_index("idx", inplace=True)
df_instructions_nums.set_index("idx", inplace=True)

In [6]:
df_instructions_nums

,Unnamed: 0,lang,ans
idx,,,
sq,0,Albanian,"Si përgjigje, duhet të jepni një varg numrash,..."
am,1,Amharic,እንደ ምላሽ ቁጥሮችን በተከተለው ቅደም ተከል መስጠት አለብህ፣ እነዚህ ቁ...
ar,2,Arabic,كرد على ذلك، يجب أن تقدم سلسلة من الأرقام التي...
hy,3,Armenian (Hayeren),Պատասխանի որպես դու պետք է տրամադրես թվերի հաջ...
az,4,Azerbaijani (Azeri),"Cavab olaraq, hər bir suala uyğun təklif oluna..."
...,...,...,...
ur,66,Urdu,جواب کے طور پر آپ کو ایک تسلسل دینی ہوگی جو ہر...
uz,67,Uzbek,Javob sifatida siz har bir savol uchun taklif ...
vi,68,Vietnamese,"Làm phản hồi, bạn phải cung cấp một chuỗi số, ..."
war,69,Waray,"Bilang tubag, kinahanglan mo maghatag hin suno..."
yo,70,Yoruba,"Bi idahun, o gbọdọ fun ni awọn nọmba ti o jẹ a..."

In [7]:
print(df_instructions.index)
print(df_instructions.columns)

Index(['sq', 'am', 'ar', 'hy', 'az', 'eu', 'bn', 'bik', 'bs', 'bg', 'my', 'ca',
       'ceb', 'hr', 'cs', 'da', 'nl', 'en', 'es', 'et', 'fil', 'fi', 'fr',
       'gl', 'ka', 'de', 'el', 'ha', 'hil', 'hi', 'hu', 'is', 'ig', 'ilo',
       'id', 'it', 'ja', 'kk', 'ky', 'zh', 'ko', 'lt', 'mk', 'ms', 'mn', 'cnr',
       'nd', 'no', 'om', 'fa', 'pl', 'pt', 'ro', 'ru', 'sr', 'sn', 'sk', 'sl',
       'sw', 'sv', 'tg', 'tsg', 'th', 'tig', 'uk', 'tr', 'ur', 'uz', 'vi',
       'war', 'yo'],
      dtype='object', name='idx')
Index(['Unnamed: 0', 'lang', 'ans'], dtype='object')

In [8]:
df_instructions

,Unnamed: 0,lang,ans
idx,,,
sq,0,Albanian,Në hyrje merr përshkrimin e karakteristikave. ...
am,1,Amharic,በግብይት የሚገባው የባህሪያት መግለጫ ነው። አንተ በተገለጹት ባህሪያት ሰ...
ar,2,Arabic,عند الدخول، تحصل على وصف للخصائص. يجب أن تتخيل...
hy,3,Armenian (Hayeren),Մուտքին դու ստանում ես բնութագրությունների նկա...
az,4,Azerbaijani (Azeri),Girişdə sən xüsusiyyətlərin təsvirini alırsan....
...,...,...,...
ur,66,Urdu,آپ کو داخلہ پر خصوصیات کی تفصیل ملتی ہے۔ آپ کو...
uz,67,Uzbek,Kirishda siz xususiyatlar tavsifini olasiz. Si...
vi,68,Vietnamese,"Khi nhận được mô tả đặc điểm, bạn phải tưởng t..."
war,69,Waray,"Ha sulod, nakakatagamtam ka hin paglalarawan h..."
yo,70,Yoruba,"Lori ayẹwo, o ngba awoṣe awọn ẹya ara. O gbọdọ..."

In [9]:
lang = df.loc[5, 'LNGE_ISO']
instructions_user = df_instructions.loc[lang, 'ans']
print(lang)

zh

In [20]:
for i in tqdm(range(2500, 3000)): 
    lang = df.loc[i, 'LNGE_ISO']
    system_message = df.loc[i, 'full_promt']
    user_message = df.loc[i, 'ALL_Q']

    try:
        insturctions_ouput_num = df_instructions_nums.loc[lang, 'ans']
        instructions_user = df_instructions.loc[lang, 'ans']

        response = openai.chat.completions.create(
            model = "gpt-4o",
            messages = [
                    {"role": "system", "content": system_message},
                    {"role": "user", "content": f'{instructions_user}. {user_message}. {insturctions_ouput_num}.'}
                    ],
                temperature = 0.2
            )   
        answers = response.choices[0].message.content
        # print(answers)        
        parts = [part.strip() for part in answers.split('\n') if part.strip()]


        # Если частей меньше или больше 7, можно дополнительно обработать или вывести предупреждение
        # if len(parts) != 7:
        #     print(f"Warning: Unexpected number of parts ({len(parts)}) for index {i}. Full answer:")
        #     # print(answers)
        # else:
        df_ans.at[i, 'Q182'] = parts[0]
        df_ans.at[i, 'Q183'] = parts[1]
        df_ans.at[i, 'Q184'] = parts[2]
        df_ans.at[i, 'Q185'] = parts[3]
        df_ans.at[i, 'Q186'] = parts[4]
        df_ans.at[i, 'Q189'] = parts[5]
        df_ans.at[i, 'Q193'] = parts[6]
    except:
        continue

  0%|          | 0/500 [00:00<?, ?it/s]

100%|██████████| 500/500 [09:59<00:00,  1.20s/it]

In [22]:
df_ans.head()

     Unnamed: 0 Q182 Q183 Q184 Q185 Q186 Q189 Q193
1000        NaN    5    4    6    7    8    1    6
1001        NaN    5    4    5    6    6    1    4
1002        NaN    3    2    4    6    5    1    4
1003        NaN    3    4    5    6    6    1    4
1004        NaN    3    4    3    5    4    1    4

In [18]:
df_ans.to_csv('/Users/rusya/Documents/synthetic_data/pilot_results/answers_new_1.csv')

In [19]:
print(df.columns)

Index(['Unnamed: 0', 'A_YEAR', 'B_COUNTRY', 'B_COUNTRY_ALPHA', 'S_INTLANGUAGE',
       'LNGE_ISO', 'Q260', 'Q262', 'X003R2', 'Q272', 'Q273', 'Q274', 'Q275',
       'Q275R', 'Q281', 'Q284', 'Q287', 'Q288R', 'Q289', 'Q290', 'full_promt',
       'ALL_Q'],
      dtype='object')