In [ ]:
import openai 
import pandas as pd
import glob
import time
import numpy as np

:

In [2]:
openai.api_key = "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"

In [15]:
df = pd.read_csv('/Users/rusya/Downloads/questions/Q262.csv')

In [16]:
df.head()

  idx                 lang    0
0  sq             Albanian  NaN
1  am              Amharic  NaN
2  ar               Arabic  NaN
3  hy   Armenian (Hayeren)  NaN
4  az  Azerbaijani (Azeri)  NaN

In [17]:
df.iloc[17]

idx              en
lang        English
0       Your age is
Name: 17, dtype: object

In [11]:
from tqdm import tqdm

In [18]:
#for df in dataframes_list:
for i in tqdm(range(df.shape[0])): #Q281, Q287, Q289, 
    language = df.loc[i, "lang"] 
    columns = df.columns.to_list()[2:]
    for col in columns:
        if i != 17 and pd.notna(df.loc[17, col]):
            prompt = df.loc[17, col]
            lang = df.loc[i, "lang"]
            response = openai.chat.completions.create(
                model = "gpt-4o",
                messages = [
                    {"role": "system", "content": "You are a translator."},
                    {"role": "user", "content": f'Translate this text to {lang}: {prompt}'}
                    ],
                temperature = 0.2
                )              
            translated_text = response.choices[0].message.content
            df.at[i, col] = translated_text
            #time.sleep(1)

        elif i != 17 and pd.isna(df.loc[17, col]):
            df.loc[i, col] = np.nan

100%|██████████| 71/71 [00:53<00:00,  1.32it/s]

In [19]:
df.to_csv('/Users/rusya/Downloads/questions_new/Q262_new.csv')

In [20]:
df.head()

  idx                 lang                 0
0  sq             Albanian  Mosha juaj është
1  am              Amharic          እድሜዎ ነው።
2  ar               Arabic           عمرك هو
3  hy   Armenian (Hayeren)      Ձեր տարիքը է
4  az  Azerbaijani (Azeri)     Sizin yaşınız