In [2]:
import openai 
import pandas as pd
from tqdm import tqdm
import numpy as np

In [3]:
openai.api_key = "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"

In [4]:
df = pd.read_csv('/Users/rusya/Documents/synthetic_data/questions/answers_format_output.csv')

In [5]:
df.head()

  idx                 lang  ans
0  sq             Albanian  NaN
1  am              Amharic  NaN
2  ar               Arabic  NaN
3  hy   Armenian (Hayeren)  NaN
4  az  Azerbaijani (Azeri)  NaN

In [6]:
print(df.columns)

Index(['idx', 'lang', 'ans'], dtype='object')

In [7]:
for i in tqdm(range(df.shape[0])):
    columns = df.columns.to_list()[2:]
    for col in columns:
        if i != 53 and pd.notna(df.loc[53, col]):
            prompt = df.loc[53, col]
            target_lang = df.loc[i, "lang"]
            response = openai.chat.completions.create(
                model="gpt-4",  
                messages=[
                    {"role": "system", "content": "You are a translator."},
                    {"role": "user", "content": f"Translate the following text from Russian to {target_lang}: {prompt}"}
                ],
                temperature=0.2
            )
            translated_text = response.choices[0].message.content.strip()
            df.at[i, col] = translated_text

        elif i != 53 and pd.isna(df.loc[53, col]):
            df.at[i, col] = np.nan

  0%|          | 0/71 [00:00<?, ?it/s]

100%|██████████| 71/71 [05:26<00:00,  4.59s/it]

In [22]:
df.loc['ru', 'ans']

'На вход ты получаешь описание характеристик. Ты должен представить себя человеком с описанными характеристиками и дать ответ на вопрос с позиции человека с описанными характеристиками. В качестве ответа на КАЖДОЕ утверждение ты должен выдать ТОЛЬКО число от 1 до 10 в соответствии со ШКАЛОЙ БЕЗ ПОЯСНЕНИЙ. Обрати внимание: мне нужно: чтобы ты симулировал ответ реального респондента с указанными характеристиками и по указанным критериям. Учти, что у людей с такими характеристиками мнение может отличаться.'

In [8]:
df.head()

  idx                 lang                                                ans
0  sq             Albanian  Si përgjigje, duhet të jepni një varg numrash,...
1  am              Amharic  እንደ ምላሽ ቁጥሮችን በተከተለው ቅደም ተከል መስጠት አለብህ፣ እነዚህ ቁ...
2  ar               Arabic  كرد على ذلك، يجب أن تقدم سلسلة من الأرقام التي...
3  hy   Armenian (Hayeren)  Պատասխանի որպես դու պետք է տրամադրես թվերի հաջ...
4  az  Azerbaijani (Azeri)  Cavab olaraq, hər bir suala uyğun təklif oluna...

In [33]:
df.to_csv('/Users/rusya/Documents/synthetic_data/questions_new/answers_format_output_new.csv')