In [22]:
import pandas as pd
import numpy as np

In [67]:
df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF_RIGHT_FORMAT/df_for_analysis_yandex_gpt_final.csv')
df

/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_51314/3909740711.py:1: DtypeWarning: Columns (276,278,336,337,338,339,340) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF_RIGHT_FORMAT/df_for_analysis_yandex_gpt_final.csv')

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,index,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,...,Q186_gpt,Q187_gpt,Q188_gpt,Q189_gpt,Q190_gpt,Q191_gpt,Q192_gpt,Q193_gpt,Q194_gpt,Q195_gpt
0,0,0,0,0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,7.0,4.0,5.0,1.0,2.0,1.0,1.0,5.0,2.0,4.0
1,1,1,1,1,1,1,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,5.0,6.0,1.0,1.0,1.0,1.0,6.0,2.0,4.0
2,2,2,2,2,2,2,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,7.0,4.0,6.0,1.0,1.0,1.0,1.0,6.0,1.0,5.0
3,3,3,3,3,3,3,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,3.0,6.0,1.0,3.0,2.0,1.0,6.0,2.0,4.0
4,4,4,4,4,4,4,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,4.0,5.0,1.0,2.0,1.0,1.0,6.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,95402,95402,95402,97215,97215,97215,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,3.0,1.0,2.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0
95403,95403,95403,95403,97216,97216,97216,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,4.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,7.0
95404,95404,95404,95404,97217,97217,97217,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
95405,95405,95405,95405,97218,97218,97218,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,3.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
95406,95406,95406,95406,97219,97219,97219,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,3.0,1.0,3.0,2.0,1.0,5.0,3.0,4.0

In [66]:
df_extra = pd.read_csv('/Users/rusya/Downloads/country_encoding - Лист1-2.csv')
df_extra

,code,country,year,ИЧР (годом ранее),ИЧР (того же года),ВВП на душу населения (2024),ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)","? Индекс цифровой экономики и общества (DESI, ЕС)","? Индекс цифровой экономики и общества (DESI, ЕС).1"
0,AND,Andorra,2018,0.873,0.875,46359.0,88.8,"87,6",90,NaN,NaN
1,ARG,Argentina,2017,0.857,0.861,13415.0,83.4,"79,5","87,3",NaN,NaN
2,ARM,Armenia,2021,0.761,0.786,8613.0,86.4,"81,2","91,6",NaN,NaN
3,BGD,Bangladash,2018,0.633,0.646,2622.0,62.0,"39,4","84,5",NaN,NaN
4,BOL,Bolivia,2017,0.714,0.715,3939.0,69.4,"62,4","76,5",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
60,USA,United States,2017,0.929,0.931,85812.0,96.7,99,"94,4",NaN,NaN
61,UZB,Uzbekistan,2022,0.727,0.737,3113.0,84.9,"86,5","83,3",NaN,NaN
62,VEN,Venezuela,2021,0.699,0.696,4511.0,63.4,"63,4",72,NaN,NaN
63,VNM,Vietnam,2020,0.744,0.755,4324.0,85.0,"79,1","90,8",NaN,NaN
64,ZWE,Zimbabwe,2020,0.584,0.582,2073.0,47.7,"44,9","50,6",NaN,NaN

In [68]:
df_extra = df_extra.set_index('code', drop=False)

In [69]:
df_extra

,code,country,year,ИЧР (годом ранее),ИЧР (того же года),ВВП на душу населения (2024),ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)","? Индекс цифровой экономики и общества (DESI, ЕС)","? Индекс цифровой экономики и общества (DESI, ЕС).1"
code,,,,,,,,,,,
AND,AND,Andorra,2018,0.873,0.875,46359.0,88.8,"87,6",90,NaN,NaN
ARG,ARG,Argentina,2017,0.857,0.861,13415.0,83.4,"79,5","87,3",NaN,NaN
ARM,ARM,Armenia,2021,0.761,0.786,8613.0,86.4,"81,2","91,6",NaN,NaN
BGD,BGD,Bangladash,2018,0.633,0.646,2622.0,62.0,"39,4","84,5",NaN,NaN
BOL,BOL,Bolivia,2017,0.714,0.715,3939.0,69.4,"62,4","76,5",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
USA,USA,United States,2017,0.929,0.931,85812.0,96.7,99,"94,4",NaN,NaN
UZB,UZB,Uzbekistan,2022,0.727,0.737,3113.0,84.9,"86,5","83,3",NaN,NaN
VEN,VEN,Venezuela,2021,0.699,0.696,4511.0,63.4,"63,4",72,NaN,NaN
VNM,VNM,Vietnam,2020,0.744,0.755,4324.0,85.0,"79,1","90,8",NaN,NaN
ZWE,ZWE,Zimbabwe,2020,0.584,0.582,2073.0,47.7,"44,9","50,6",NaN,NaN

## Отнормируем переменные

Your age is [AGE].  
You are a [GENDER].  
You live in [COUNTRY].  
The highest level of education you have achieved is [EDUCATION].  
You have [INCOME].  
Your occupational group is [OCCUPATIONAL GROUP].  
You classify yourself as belonging to [SOCIAL CLASS].  
Your current marital status is [MARITAL STATUS].  
The number of children you have: [HOW MANY CHILDREN].  
Your religious denomination is [RELIGIOUS].  
Your racial belonging/ethnic group is [RACIAL BEL IN ANNEX scale].  
You speak [LANGUAGE AT HOME] language at home.

AGE – Q262 – не берём  !!!!!!!!!!
GENDER – Q260  
COUNTRY – не берём  
EDUCATION – Q275  
INCOME – Q288R  
OCCUPATIONAL GROUP – Q281  
SOCIAL CLASS – Q287  
MARITAL STATUS – Q273  
HOW MANY CHILDREN – Q274  
RELIGIOUS – Q289  
RACIAL BEL IN ANNEX scale – Q290 – не берём  
LANGUAGE AT HOME – Q272 – не берём

In [70]:
columns_to_keep = [
    'A_YEAR',
    'country',
    'Q158', 'Q159', 'Q160', 'Q161',	'Q162',	'Q177', 'Q178', 'Q179', 'Q180', 
    'Q181', 'Q182', 'Q183', 'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189', 
    'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195',
    'X003R2',
    'Q260',  # GENDER
    'Q275',  # EDUCATION
    'Q288R', # INCOME
    'Q281',  # OCCUPATIONAL GROUP
    'Q287',  # SOCIAL CLASS
    'Q273',  # MARITAL STATUS
    'Q274',  # HOW MANY CHILDREN
    'Q289',  # RELIGIOUS
    'Q290',  # RACIAL BEL IN ANNEX scale
    'Q272',  # LANGUAGE AT HOME
    'Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex', 
    'Q162_yandex', 'Q183_yandex', 'Q184_yandex', 'Q185_yandex', 
    'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex', 
    'Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex', 
    'Q194_yandex', 'Q195_yandex',
    'Q158_gpt', 'Q159_gpt', 'Q160_gpt', 'Q161_gpt', 'Q162_gpt',
    'Q177_gpt', 'Q178_gpt', 'Q179_gpt', 'Q180_gpt', 'Q181_gpt',
    'Q182_gpt', 'Q183_gpt', 'Q184_gpt', 'Q185_gpt', 'Q186_gpt',
    'Q187_gpt', 'Q188_gpt', 'Q189_gpt', 'Q190_gpt', 'Q191_gpt',
    'Q192_gpt', 'Q193_gpt', 'Q194_gpt', 'Q195_gpt'
    
]

df_subset = df[columns_to_keep].copy()
df_subset["orig_index"] = df_subset.index
print(df_subset)

       A_YEAR country  Q158  Q159  Q160  Q161  Q162  Q177  Q178  Q179  ...  \
0        2018     AND     7     6     7     5     2     1     1     1  ...
1        2018     AND     9     9     9     2     2     1     1     1  ...
2        2018     AND     5     6     8     5     4     1     1     1  ...
3        2018     AND     7     6     5     6     3     1     1     1  ...
4        2018     AND     7     7     6     5     2     1     1     1  ...
...       ...     ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
95402    2020     ZWE    10    10    10    10    10     2     2     2  ...
95403    2020     ZWE    10    10     1     1     1     1     1     1  ...
95404    2020     ZWE    10    10     1    10     1     1     1     1  ...
95405    2020     ZWE    10    10    10     1     1     1     1     1  ...
95406    2020     ZWE    10    10     1     1     1     1     1     1  ...

       Q187_gpt  Q188_gpt  Q189_gpt  Q190_gpt  Q191_gpt  Q192_gpt  Q193_gpt  \
0           4.0       5.0       1.0       2.0       1.0       1.0       5.0
1           5.0       6.0       1.0       1.0       1.0       1.0       6.0
2           4.0       6.0       1.0       1.0       1.0       1.0       6.0
3           3.0       6.0       1.0       3.0       2.0       1.0       6.0
4           4.0       5.0       1.0       2.0       1.0       1.0       6.0
...         ...       ...       ...       ...       ...       ...       ...
95402       1.0       2.0       1.0       3.0       2.0       1.0       4.0
95403       4.0       5.0       1.0       3.0       2.0       1.0       5.0
95404       2.0       2.0       1.0       2.0       1.0       1.0       3.0
95405       2.0       3.0       1.0       2.0       1.0       1.0       3.0
95406       2.0       3.0       1.0       3.0       2.0       1.0       5.0

       Q194_gpt  Q195_gpt  orig_index
0           2.0       4.0           0
1           2.0       4.0           1
2           1.0       5.0           2
3           2.0       4.0           3
4           2.0       5.0           4
...         ...       ...         ...
95402       2.0       5.0       95402
95403       2.0       7.0       95403
95404       2.0       4.0       95404
95405       2.0       4.0       95405
95406       3.0       4.0       95406

[95407 rows x 80 columns]

In [71]:
print(df_subset['X003R2'].value_counts().sort_index())

X003R2
-5      269
-4        1
-2      205
-1       18
 1    24234
 2    37816
 3    32864
Name: count, dtype: int64

In [72]:
df_clean = df_subset[
    df_subset["X003R2"].isin([1, 2, 3]) &                   # AGE: 1..3
    df_subset["Q260"].isin([1, 2]) &                     # GENDER: 1 или 2
    df_subset["Q275"].isin(range(0, 9)) &                # EDUCATION: 0..8
    df_subset["Q288R"].isin([1, 2, 3]) &                 # INCOME: 1..3
    df_subset["Q281"].isin(range(0, 12)) &               # OCCUPATIONAL GROUP: 0..11
    df_subset["Q287"].isin([1, 2, 3, 4, 5]) &            # SOCIAL CLASS: 1..5
    df_subset["Q273"].isin([1, 2, 3, 4, 5, 6]) &         # MARITAL STATUS: 1..6
    df_subset["Q274"].isin(range(0, 26)) &               # HOW MANY CHILDREN: 0..25
    df_subset["Q289"].isin(range(0, 10))                 # RELIGIOUS: 0..9
].copy()

print(df_clean)

       A_YEAR country  Q158  Q159  Q160  Q161  Q162  Q177  Q178  Q179  ...  \
0        2018     AND     7     6     7     5     2     1     1     1  ...
1        2018     AND     9     9     9     2     2     1     1     1  ...
2        2018     AND     5     6     8     5     4     1     1     1  ...
3        2018     AND     7     6     5     6     3     1     1     1  ...
4        2018     AND     7     7     6     5     2     1     1     1  ...
...       ...     ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
95402    2020     ZWE    10    10    10    10    10     2     2     2  ...
95403    2020     ZWE    10    10     1     1     1     1     1     1  ...
95404    2020     ZWE    10    10     1    10     1     1     1     1  ...
95405    2020     ZWE    10    10    10     1     1     1     1     1  ...
95406    2020     ZWE    10    10     1     1     1     1     1     1  ...

       Q187_gpt  Q188_gpt  Q189_gpt  Q190_gpt  Q191_gpt  Q192_gpt  Q193_gpt  \
0           4.0       5.0       1.0       2.0       1.0       1.0       5.0
1           5.0       6.0       1.0       1.0       1.0       1.0       6.0
2           4.0       6.0       1.0       1.0       1.0       1.0       6.0
3           3.0       6.0       1.0       3.0       2.0       1.0       6.0
4           4.0       5.0       1.0       2.0       1.0       1.0       6.0
...         ...       ...       ...       ...       ...       ...       ...
95402       1.0       2.0       1.0       3.0       2.0       1.0       4.0
95403       4.0       5.0       1.0       3.0       2.0       1.0       5.0
95404       2.0       2.0       1.0       2.0       1.0       1.0       3.0
95405       2.0       3.0       1.0       2.0       1.0       1.0       3.0
95406       2.0       3.0       1.0       3.0       2.0       1.0       5.0

       Q194_gpt  Q195_gpt  orig_index
0           2.0       4.0           0
1           2.0       4.0           1
2           1.0       5.0           2
3           2.0       4.0           3
4           2.0       5.0           4
...         ...       ...         ...
95402       2.0       5.0       95402
95403       2.0       7.0       95403
95404       2.0       4.0       95404
95405       2.0       4.0       95405
95406       3.0       4.0       95406

[80170 rows x 80 columns]

In [73]:
questions = [
    'Q158', 'Q159', 'Q160', 'Q161', 'Q162',
    'Q177', 'Q178', 'Q179', 'Q180',
    'Q181', 'Q182', 'Q183', 'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189',
    'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195'
]

# Для каждой QXXX создаём колонку QXXX_y_gpt, где 1 = совпадают, 0 = нет
for q in questions:
    gpt_col = f"{q}_gpt"         
    new_col = f"{q}_y_gpt"    
    df_clean[new_col] = (df_clean[q] == df_clean[gpt_col]).astype(int)

df_clean

,A_YEAR,country,Q158,Q159,Q160,Q161,Q162,Q177,Q178,Q179,...,Q186_y_gpt,Q187_y_gpt,Q188_y_gpt,Q189_y_gpt,Q190_y_gpt,Q191_y_gpt,Q192_y_gpt,Q193_y_gpt,Q194_y_gpt,Q195_y_gpt
0,2018,AND,7,6,7,5,2,1,1,1,...,0,0,0,1,0,1,1,0,0,0
1,2018,AND,9,9,9,2,2,1,1,1,...,0,0,0,1,1,1,1,0,0,0
2,2018,AND,5,6,8,5,4,1,1,1,...,0,0,0,1,1,0,1,0,1,0
3,2018,AND,7,6,5,6,3,1,1,1,...,0,1,0,1,0,0,1,0,0,0
4,2018,AND,7,7,6,5,2,1,1,1,...,1,0,1,1,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,2020,ZWE,10,10,10,10,10,2,2,2,...,0,1,0,1,0,0,1,0,0,0
95403,2020,ZWE,10,10,1,1,1,1,1,1,...,0,0,0,1,0,0,1,0,0,0
95404,2020,ZWE,10,10,1,10,1,1,1,1,...,0,0,0,1,0,1,1,0,0,0
95405,2020,ZWE,10,10,10,1,1,1,1,1,...,0,0,0,1,0,1,1,0,0,0
95406,2020,ZWE,10,10,1,1,1,1,1,1,...,0,0,0,1,0,0,1,0,0,0

In [74]:
df_gdp = df_extra[['code', 'year', 'ВВП на душу населения (2024)', 'ICT Development Index 2024', 'ICT Development Index 2024, Universal (personal indicators dominating)', 'ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)']].copy()
df_gdp = df_gdp.rename(columns={
    'code': 'country',
    'year': 'A_YEAR',
    'ВВП на душу населения (2024)': 'GDP_per_capita_2024',
    'ICT Development Index 2024': 'ICT Development Index 2024',
    'ICT Development Index 2024, Universal (personal indicators dominating)': 'ICT Development Index 2024, Universal (personal indicators dominating)',
    'ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)': 'ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)'
})

df_clean = df_clean.merge(
    df_gdp,
    how='left',
    on=['country', 'A_YEAR']
)

In [75]:
df_clean

,A_YEAR,country,Q158,Q159,Q160,Q161,Q162,Q177,Q178,Q179,...,Q190_y_gpt,Q191_y_gpt,Q192_y_gpt,Q193_y_gpt,Q194_y_gpt,Q195_y_gpt,GDP_per_capita_2024,ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)"
0,2018,AND,7,6,7,5,2,1,1,1,...,0,1,1,0,0,0,46359.0,88.8,"87,6",90
1,2018,AND,9,9,9,2,2,1,1,1,...,1,1,1,0,0,0,46359.0,88.8,"87,6",90
2,2018,AND,5,6,8,5,4,1,1,1,...,1,0,1,0,1,0,46359.0,88.8,"87,6",90
3,2018,AND,7,6,5,6,3,1,1,1,...,0,0,1,0,0,0,46359.0,88.8,"87,6",90
4,2018,AND,7,7,6,5,2,1,1,1,...,0,1,1,1,0,0,46359.0,88.8,"87,6",90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80165,2020,ZWE,10,10,10,10,10,2,2,2,...,0,0,1,0,0,0,2073.0,47.7,"44,9","50,6"
80166,2020,ZWE,10,10,1,1,1,1,1,1,...,0,0,1,0,0,0,2073.0,47.7,"44,9","50,6"
80167,2020,ZWE,10,10,1,10,1,1,1,1,...,0,1,1,0,0,0,2073.0,47.7,"44,9","50,6"
80168,2020,ZWE,10,10,10,1,1,1,1,1,...,0,1,1,0,0,0,2073.0,47.7,"44,9","50,6"
80169,2020,ZWE,10,10,1,1,1,1,1,1,...,0,0,1,0,0,0,2073.0,47.7,"44,9","50,6"

## Деление шкал (нужно ли оно?)

In [76]:
df_clean['Q274'] = df_clean['Q274'].clip(upper=3)

# Проверим распределение после перекодировки
print(df_clean['Q274'].value_counts().sort_index())

Q274
0    23147
1    14143
2    21384
3    21496
Name: count, dtype: int64

## Великая и могучая logit регрессия

In [77]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

In [63]:
# 1) Оставляем только нужные колонки (предикторы + целевой + intercept не нужен явно)
columns_for_model = [
    'Q158_y_gpt',  # целевая
    'X003R2',      # AGE
    'Q260',        # GENDER
    'Q275',        # EDUCATION
    'Q288R',       # INCOME
    'Q281',        # OCCUPATIONAL_GROUP
    'Q287',        # SOCIAL_CLASS
    'Q273',        # MARITAL_STATUS
    'Q274',        # HOW_MANY_CHILDREN
    'Q289',         # RELIGIOUS
    'GDP_per_capita_this_year'
]
df_model = df_clean[columns_for_model].copy()

# 2) Dropna — чтобы не было пустых ячеек:
df_model = df_model.dropna()

# 3) Проверим размерность:
print("Размерность df_model:", df_model.shape)
print(df_model.head())

Размерность df_model: (76997, 11)
   Q158_y_gpt  X003R2  Q260  Q275  Q288R  Q281  Q287  Q273  Q274  Q289  \
0           0       3     2     3      2     4     3     1     2     1
1           1       2     1     7      3     1     2     2     0     1
2           0       2     1     7      2     5     3     4     0     1
3           0       3     2     2      2     4     4     2     1     0
4           0       2     1     2      2     4     4     2     0     0

   GDP_per_capita_this_year
0               42819.77458
1               42819.77458
2               42819.77458
3               42819.77458
4               42819.77458

In [64]:
from statsmodels.formula.api import logit

formula = (
    'Q158_y_gpt ~ '
    'C(X003R2) +  '
    'C(Q260) + '        # Gender (1 vs 2)
    'Q275 + '           # Education (0..8)
    'C(Q288R) + '       # Income (1,2,3)
    'C(Q281) + '        # Occupational Group (0..11)
    'C(Q287) + '        # Social Class (1..5)
    'C(Q273) + '        # Marital Status (1..6)
    'Q274 + '           # How Many Children (0..3)
    'C(Q289) + '           # Religious (0..9)
    'GDP_per_capita_this_year'

)
print("Формула модели:", formula)

Формула модели: Q158_y_gpt ~ C(X003R2) +  C(Q260) + Q275 + C(Q288R) + C(Q281) + C(Q287) + C(Q273) + Q274 + C(Q289) + GDP_per_capita_this_year

In [65]:
# 1) Подготовим саму модель:
model = logit(formula, data=df_model)

# 2) Обучаем методом BFGS (maxiter = 1000, чтобы успело сойтись):
results = model.fit(method='bfgs', maxiter=1000)

# 3) Смотрим краткий вывод:
print(results.summary())

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))

Optimization terminated successfully.
         Current function value: 0.403003
         Iterations: 164
         Function evaluations: 176
         Gradient evaluations: 166
                           Logit Regression Results
==============================================================================
Dep. Variable:             Q158_y_gpt   No. Observations:                76997
Model:                          Logit   Df Residuals:                    76959
Method:                           MLE   Df Model:                           37
Date:                Fri, 06 Jun 2025   Pseudo R-squ.:                 0.02328
Time:                        15:41:14   Log-Likelihood:                -31030.
converged:                       True   LL-Null:                       -31770.
Covariance Type:            nonrobust   LLR p-value:                6.979e-287
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -2.4807      0.101    -24.571      0.000      -2.679      -2.283
C(X003R2)[T.2]              -0.0004      0.031     -0.012      0.991      -0.061       0.060
C(X003R2)[T.3]               0.0276      0.035      0.782      0.434      -0.042       0.097
C(Q260)[T.2]                -0.0228      0.022     -1.035      0.301      -0.066       0.020
C(Q288R)[T.2]                0.3383      0.030     11.390      0.000       0.280       0.397
C(Q288R)[T.3]                0.3691      0.044      8.356      0.000       0.283       0.456
C(Q281)[T.1]                 0.0881      0.044      1.990      0.047       0.001       0.175
C(Q281)[T.2]                 0.1878      0.059      3.160      0.002       0.071       0.304
C(Q281)[T.3]                 0.2019      0.044      4.580      0.000       0.115       0.288
C(Q281)[T.4]                 0.1840      0.042      4.343      0.000       0.101       0.267
C(Q281)[T.5]                 0.1125      0.046      2.439      0.015       0.022       0.203
C(Q281)[T.6]                 0.0750      0.047      1.590      0.112      -0.017       0.167
C(Q281)[T.7]                 0.0414      0.052      0.798      0.425      -0.060       0.143
C(Q281)[T.8]                -0.0396      0.053     -0.751      0.453      -0.143       0.064
C(Q281)[T.9]                -0.2220      0.066     -3.340      0.001      -0.352      -0.092
C(Q281)[T.10]               -0.1827      0.080     -2.281      0.023      -0.340      -0.026
C(Q281)[T.11]               -0.0471      0.121     -0.389      0.698      -0.284       0.190
C(Q287)[T.2]                 0.2119      0.081      2.611      0.009       0.053       0.371
C(Q287)[T.3]                 0.2372      0.081      2.918      0.004       0.078       0.397
C(Q287)[T.4]                 0.2472      0.083      2.988      0.003       0.085       0.409
C(Q287)[T.5]                 0.0218      0.090      0.243      0.808      -0.154       0.198
C(Q273)[T.2]                -0.0650      0.041     -1.569      0.117      -0.146       0.016
C(Q273)[T.3]                -0.2046      0.055     -3.745      0.000      -0.312      -0.097
C(Q273)[T.4]                -0.2025      0.079     -2.551      0.011      -0.358      -0.047
C(Q273)[T.5]                -0.2525      0.054     -4.641      0.000      -0.359      -0.146
C(Q273)[T.6]                -0.0984      0.034     -2.863      0.004      -0.166      -0.031
C(Q289)[T.1]                -0.0842      0.032     -2.645      0.008      -0.147      -0.022
C(Q289)[T.2]                -0.0860      0.042     -2.052      0.040      -0.168      -0.004
C(Q289)[T.3]                -0.1420      0.044     -3.214      0.001      -0.229      -0.055
C(Q289)[T.4]                -0.1889      0.204     -0.924      0.356      -0.590       0.212
C(Q289)[T.5]                -0.0552      0.033     -1.680      0.093      -0.120       0.009
C(Q289)[T.6]                -0.0041      0.123     -0.034      0.973      -0.246       0.238
C(Q289)[T.7]                 0.1455      0.045      3.236      0.001       0.057       0.234
C(Q289)[T.8]                -0.1579      0.077     -2.052      0.040      -0.309      -0.007
C(Q289)[T.9]                -0.0203      0.093     -0.218      0.827      -0.203       0.162
Q275                         0.0283      0.007      4.234      0.000       0.015       0.041
Q274                        -0.0438      0.012     -3.540      0.000      -0.068      -0.020
GDP_per_capita_this_year  1.096e-05   5.93e-07     18.487      0.000     9.8e-06    1.21e-05
============================================================================================