In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF_RIGHT_FORMAT/df_for_analysis_yandex_gpt_final.csv')
df

/var/folders/v_/zqcyjtwn0d70thqjm302x3zh0000gn/T/ipykernel_33199/3909740711.py:1: DtypeWarning: Columns (276,278,336,337,338,339,340) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/rusya/Documents/synthetic_data/pilot_results/ALL_ANS_12_DF_RIGHT_FORMAT/df_for_analysis_yandex_gpt_final.csv')

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,index,Unnamed: 0.1,Unnamed: 0,version,doi,A_WAVE,A_YEAR,...,Q186_gpt,Q187_gpt,Q188_gpt,Q189_gpt,Q190_gpt,Q191_gpt,Q192_gpt,Q193_gpt,Q194_gpt,Q195_gpt
0,0,0,0,0,0,0,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,7.0,4.0,5.0,1.0,2.0,1.0,1.0,5.0,2.0,4.0
1,1,1,1,1,1,1,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,5.0,6.0,1.0,1.0,1.0,1.0,6.0,2.0,4.0
2,2,2,2,2,2,2,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,7.0,4.0,6.0,1.0,1.0,1.0,1.0,6.0,1.0,5.0
3,3,3,3,3,3,3,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,3.0,6.0,1.0,3.0,2.0,1.0,6.0,2.0,4.0
4,4,4,4,4,4,4,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2018,...,8.0,4.0,5.0,1.0,2.0,1.0,1.0,6.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,95402,95402,95402,97215,97215,97215,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,3.0,1.0,2.0,1.0,3.0,2.0,1.0,4.0,2.0,5.0
95403,95403,95403,95403,97216,97216,97216,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,4.0,5.0,1.0,3.0,2.0,1.0,5.0,2.0,7.0
95404,95404,95404,95404,97217,97217,97217,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,2.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
95405,95405,95405,95405,97218,97218,97218,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,3.0,1.0,2.0,1.0,1.0,3.0,2.0,4.0
95406,95406,95406,95406,97219,97219,97219,6-0-0 (2024-04-30),doi.org/10.14281/18241.24,7,2020,...,5.0,2.0,3.0,1.0,3.0,2.0,1.0,5.0,3.0,4.0

In [6]:
df_lang_fsi = pd.read_csv('/Users/rusya/Downloads/FSI_language_difficulty_eng - Лист1.csv')
df_lang_fsi

,code,language,closely related,similar to eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult
0,30,30 Afar,0,0,1,0,0
1,40,40 Afrikaans,1,0,0,0,0
2,100,100 Albanian,0,0,0,1,0
3,140,140 Amharic,0,0,0,1,0
4,170,170 Arabic,0,0,0,0,1
...,...,...,...,...,...,...,...
159,4620,4620 Yoruba,0,0,1,0,0
160,9000,9000 Other,0,0,0,0,0
161,9040,9040 Other European,0,1,0,0,0
162,9060,9060 Other Chinese dialects,0,0,0,0,1
163,9900,"9900 Other local; aboriginal; tribal, community",0,0,0,0,1

In [7]:
df_lang_fsi = df_lang_fsi.set_index('code', drop=False)
df_lang_fsi

,code,language,closely related,similar to eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult
code,,,,,,,
30,30,30 Afar,0,0,1,0,0
40,40,40 Afrikaans,1,0,0,0,0
100,100,100 Albanian,0,0,0,1,0
140,140,140 Amharic,0,0,0,1,0
170,170,170 Arabic,0,0,0,0,1
...,...,...,...,...,...,...,...
4620,4620,4620 Yoruba,0,0,1,0,0
9000,9000,9000 Other,0,0,0,0,0
9040,9040,9040 Other European,0,1,0,0,0
9060,9060,9060 Other Chinese dialects,0,0,0,0,1
9900,9900,"9900 Other local; aboriginal; tribal, community",0,0,0,0,1

In [9]:
df_extra = pd.read_csv('/Users/rusya/Downloads/country_encoding - Лист1-2.csv')
df_extra

,code,country,year,ИЧР (годом ранее),ИЧР (того же года),ВВП на душу населения (2024),ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)","? Индекс цифровой экономики и общества (DESI, ЕС)","? Индекс цифровой экономики и общества (DESI, ЕС).1"
0,AND,Andorra,2018,0.873,0.875,46359.0,88.8,"87,6",90,NaN,NaN
1,ARG,Argentina,2017,0.857,0.861,13415.0,83.4,"79,5","87,3",NaN,NaN
2,ARM,Armenia,2021,0.761,0.786,8613.0,86.4,"81,2","91,6",NaN,NaN
3,BGD,Bangladash,2018,0.633,0.646,2622.0,62.0,"39,4","84,5",NaN,NaN
4,BOL,Bolivia,2017,0.714,0.715,3939.0,69.4,"62,4","76,5",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
60,USA,United States,2017,0.929,0.931,85812.0,96.7,99,"94,4",NaN,NaN
61,UZB,Uzbekistan,2022,0.727,0.737,3113.0,84.9,"86,5","83,3",NaN,NaN
62,VEN,Venezuela,2021,0.699,0.696,4511.0,63.4,"63,4",72,NaN,NaN
63,VNM,Vietnam,2020,0.744,0.755,4324.0,85.0,"79,1","90,8",NaN,NaN
64,ZWE,Zimbabwe,2020,0.584,0.582,2073.0,47.7,"44,9","50,6",NaN,NaN

In [15]:
indices_to_remove = [1105, 1190, 1940, 2190, 3750, 3900, 4530, 9000, 9040, 9060, 9900]

# Удаляем строки по индексам
df_lang_fsi_1 = df_lang_fsi.drop(index=indices_to_remove, errors='ignore')  # errors='ignore' — на случай, если каких-то индексов нет

In [16]:
df_lang_fsi_1

,code,language,closely related,similar to eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult
code,,,,,,,
30,30,30 Afar,0,0,1,0,0
40,40,40 Afrikaans,1,0,0,0,0
100,100,100 Albanian,0,0,0,1,0
140,140,140 Amharic,0,0,0,1,0
170,170,170 Arabic,0,0,0,0,1
...,...,...,...,...,...,...,...
4470,4470,4470 Vietnamese,0,0,0,1,0
4520,4520,4520 Waray,0,0,0,1,0
4580,4580,4580 Yakan,0,0,0,1,0
4610,4610,4610 Yiddish,0,0,1,0,0
4620,4620,4620 Yoruba,0,0,1,0,0

In [10]:
df_extra = df_extra.set_index('code', drop=False)
df_extra

,code,country,year,ИЧР (годом ранее),ИЧР (того же года),ВВП на душу населения (2024),ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)","? Индекс цифровой экономики и общества (DESI, ЕС)","? Индекс цифровой экономики и общества (DESI, ЕС).1"
code,,,,,,,,,,,
AND,AND,Andorra,2018,0.873,0.875,46359.0,88.8,"87,6",90,NaN,NaN
ARG,ARG,Argentina,2017,0.857,0.861,13415.0,83.4,"79,5","87,3",NaN,NaN
ARM,ARM,Armenia,2021,0.761,0.786,8613.0,86.4,"81,2","91,6",NaN,NaN
BGD,BGD,Bangladash,2018,0.633,0.646,2622.0,62.0,"39,4","84,5",NaN,NaN
BOL,BOL,Bolivia,2017,0.714,0.715,3939.0,69.4,"62,4","76,5",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
USA,USA,United States,2017,0.929,0.931,85812.0,96.7,99,"94,4",NaN,NaN
UZB,UZB,Uzbekistan,2022,0.727,0.737,3113.0,84.9,"86,5","83,3",NaN,NaN
VEN,VEN,Venezuela,2021,0.699,0.696,4511.0,63.4,"63,4",72,NaN,NaN
VNM,VNM,Vietnam,2020,0.744,0.755,4324.0,85.0,"79,1","90,8",NaN,NaN
ZWE,ZWE,Zimbabwe,2020,0.584,0.582,2073.0,47.7,"44,9","50,6",NaN,NaN

In [12]:
columns_to_keep = [
    'S_INTLANGUAGE',
    'A_YEAR',
    'country',
    'Q158', 'Q159', 'Q160', 'Q161',	'Q162',	'Q177', 'Q178', 'Q179', 'Q180', 
    'Q181', 'Q182', 'Q183', 'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189', 
    'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195',
    # 'X003R2',
    # 'Q260',  # GENDER
    # 'Q275',  # EDUCATION
    # 'Q288R', # INCOME
    # 'Q281',  # OCCUPATIONAL GROUP
    # 'Q287',  # SOCIAL CLASS
    # 'Q273',  # MARITAL STATUS
    # 'Q274',  # HOW MANY CHILDREN
    # 'Q289',  # RELIGIOUS
    # 'Q290',  # RACIAL BEL IN ANNEX scale
    # 'Q272',  # LANGUAGE AT HOME
    'Q158_yandex', 'Q159_yandex', 'Q160_yandex', 'Q161_yandex', 
    'Q162_yandex', 'Q183_yandex', 'Q184_yandex', 'Q185_yandex', 
    'Q186_yandex', 'Q187_yandex', 'Q188_yandex', 'Q189_yandex', 
    'Q190_yandex', 'Q191_yandex', 'Q192_yandex', 'Q193_yandex', 
    'Q194_yandex', 'Q195_yandex',
    'Q158_gpt', 'Q159_gpt', 'Q160_gpt', 'Q161_gpt', 'Q162_gpt',
    'Q177_gpt', 'Q178_gpt', 'Q179_gpt', 'Q180_gpt', 'Q181_gpt',
    'Q182_gpt', 'Q183_gpt', 'Q184_gpt', 'Q185_gpt', 'Q186_gpt',
    'Q187_gpt', 'Q188_gpt', 'Q189_gpt', 'Q190_gpt', 'Q191_gpt',
    'Q192_gpt', 'Q193_gpt', 'Q194_gpt', 'Q195_gpt'
    
]

df_clean = df[columns_to_keep].copy()
df_clean["orig_index"] = df_clean.index
print(df_clean)

       S_INTLANGUAGE  A_YEAR country  Q158  Q159  Q160  Q161  Q162  Q177  \
0                810    2018     AND     7     6     7     5     2     1
1                810    2018     AND     9     9     9     2     2     1
2                810    2018     AND     5     6     8     5     4     1
3                810    2018     AND     7     6     5     6     3     1
4                810    2018     AND     7     7     6     5     2     1
...              ...     ...     ...   ...   ...   ...   ...   ...   ...
95402           1240    2020     ZWE    10    10    10    10    10     2
95403           1240    2020     ZWE    10    10     1     1     1     1
95404           3830    2020     ZWE    10    10     1    10     1     1
95405           3830    2020     ZWE    10    10    10     1     1     1
95406           3830    2020     ZWE    10    10     1     1     1     1

       Q178  ...  Q187_gpt  Q188_gpt  Q189_gpt  Q190_gpt  Q191_gpt  Q192_gpt  \
0         1  ...       4.0       5.0       1.0       2.0       1.0       1.0
1         1  ...       5.0       6.0       1.0       1.0       1.0       1.0
2         1  ...       4.0       6.0       1.0       1.0       1.0       1.0
3         1  ...       3.0       6.0       1.0       3.0       2.0       1.0
4         1  ...       4.0       5.0       1.0       2.0       1.0       1.0
...     ...  ...       ...       ...       ...       ...       ...       ...
95402     2  ...       1.0       2.0       1.0       3.0       2.0       1.0
95403     1  ...       4.0       5.0       1.0       3.0       2.0       1.0
95404     1  ...       2.0       2.0       1.0       2.0       1.0       1.0
95405     1  ...       2.0       3.0       1.0       2.0       1.0       1.0
95406     1  ...       2.0       3.0       1.0       3.0       2.0       1.0

       Q193_gpt  Q194_gpt  Q195_gpt  orig_index
0           5.0       2.0       4.0           0
1           6.0       2.0       4.0           1
2           6.0       1.0       5.0           2
3           6.0       2.0       4.0           3
4           6.0       2.0       5.0           4
...         ...       ...       ...         ...
95402       4.0       2.0       5.0       95402
95403       5.0       2.0       7.0       95403
95404       3.0       2.0       4.0       95404
95405       3.0       2.0       4.0       95405
95406       5.0       3.0       4.0       95406

[95407 rows x 70 columns]

In [13]:
questions = [
    'Q158', 'Q159', 'Q160', 'Q161', 'Q162',
    'Q177', 'Q178', 'Q179', 'Q180',
    'Q181', 'Q182', 'Q183', 'Q184', 'Q185', 'Q186', 'Q187', 'Q188', 'Q189',
    'Q190', 'Q191', 'Q192', 'Q193', 'Q194', 'Q195'
]

# Для каждой QXXX создаём колонку QXXX_y_gpt, где 1 = совпадают, 0 = нет
for q in questions:
    gpt_col = f"{q}_gpt"         
    new_col = f"{q}_y_gpt"    
    df_clean[new_col] = (df_clean[q] == df_clean[gpt_col]).astype(int)

df_clean

,S_INTLANGUAGE,A_YEAR,country,Q158,Q159,Q160,Q161,Q162,Q177,Q178,...,Q186_y_gpt,Q187_y_gpt,Q188_y_gpt,Q189_y_gpt,Q190_y_gpt,Q191_y_gpt,Q192_y_gpt,Q193_y_gpt,Q194_y_gpt,Q195_y_gpt
0,810,2018,AND,7,6,7,5,2,1,1,...,0,0,0,1,0,1,1,0,0,0
1,810,2018,AND,9,9,9,2,2,1,1,...,0,0,0,1,1,1,1,0,0,0
2,810,2018,AND,5,6,8,5,4,1,1,...,0,0,0,1,1,0,1,0,1,0
3,810,2018,AND,7,6,5,6,3,1,1,...,0,1,0,1,0,0,1,0,0,0
4,810,2018,AND,7,7,6,5,2,1,1,...,1,0,1,1,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,1240,2020,ZWE,10,10,10,10,10,2,2,...,0,1,0,1,0,0,1,0,0,0
95403,1240,2020,ZWE,10,10,1,1,1,1,1,...,0,0,0,1,0,0,1,0,0,0
95404,3830,2020,ZWE,10,10,1,10,1,1,1,...,0,0,0,1,0,1,1,0,0,0
95405,3830,2020,ZWE,10,10,10,1,1,1,1,...,0,0,0,1,0,1,1,0,0,0
95406,3830,2020,ZWE,10,10,1,1,1,1,1,...,0,0,0,1,0,0,1,0,0,0

In [17]:
# список кодов, которые нужно удалить
codes_to_drop = [1105, 1190, 1940, 2190, 3750, 3900, 4530, 9000, 9040, 9060, 9900]

# удаление строк, в которых S_INTLANGUAGE содержит указанные коды
df_clean = df_clean[~df_clean['S_INTLANGUAGE'].isin(codes_to_drop)]

# проверка
print("Новая размерность после удаления:", df_clean.shape)
df_clean

Новая размерность после удаления: (92207, 98)

,S_INTLANGUAGE,A_YEAR,country,Q158,Q159,Q160,Q161,Q162,Q177,Q178,...,Q190_y_gpt,Q191_y_gpt,Q192_y_gpt,Q193_y_gpt,Q194_y_gpt,Q195_y_gpt,GDP_per_capita_2024,ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)"
0,810,2018,AND,7,6,7,5,2,1,1,...,0,1,1,0,0,0,46359.0,88.8,"87,6",90
1,810,2018,AND,9,9,9,2,2,1,1,...,1,1,1,0,0,0,46359.0,88.8,"87,6",90
2,810,2018,AND,5,6,8,5,4,1,1,...,1,0,1,0,1,0,46359.0,88.8,"87,6",90
3,810,2018,AND,7,6,5,6,3,1,1,...,0,0,1,0,0,0,46359.0,88.8,"87,6",90
4,810,2018,AND,7,7,6,5,2,1,1,...,0,1,1,1,0,0,46359.0,88.8,"87,6",90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,1240,2020,ZWE,10,10,10,10,10,2,2,...,0,0,1,0,0,0,2073.0,47.7,"44,9","50,6"
95403,1240,2020,ZWE,10,10,1,1,1,1,1,...,0,0,1,0,0,0,2073.0,47.7,"44,9","50,6"
95404,3830,2020,ZWE,10,10,1,10,1,1,1,...,0,1,1,0,0,0,2073.0,47.7,"44,9","50,6"
95405,3830,2020,ZWE,10,10,10,1,1,1,1,...,0,1,1,0,0,0,2073.0,47.7,"44,9","50,6"
95406,3830,2020,ZWE,10,10,1,1,1,1,1,...,0,0,1,0,0,0,2073.0,47.7,"44,9","50,6"

In [14]:
df_gdp = df_extra[['code', 'year', 'ВВП на душу населения (2024)', 'ICT Development Index 2024', 'ICT Development Index 2024, Universal (personal indicators dominating)', 'ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)']].copy()
df_gdp = df_gdp.rename(columns={
    'code': 'country',
    'year': 'A_YEAR',
    'ВВП на душу населения (2024)': 'GDP_per_capita_2024',
    'ICT Development Index 2024': 'ICT Development Index 2024',
    'ICT Development Index 2024, Universal (personal indicators dominating)': 'ICT Development Index 2024, Universal (personal indicators dominating)',
    'ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)': 'ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)'
})

df_clean = df_clean.merge(
    df_gdp,
    how='left',
    on=['country', 'A_YEAR']
)

In [18]:
# 1. Убедись, что индекс в df_lang — это именно код языка (int)
df_lang_fsi_1.index = df_lang_fsi_1.index.astype(int)

In [19]:
# 2. Выполни объединение (join/merge) по коду языка
df_main = df_clean.merge(
    df_lang_fsi,
    how='left',
    left_on='S_INTLANGUAGE',
    right_index=True
)

df_main

,S_INTLANGUAGE,A_YEAR,country,Q158,Q159,Q160,Q161,Q162,Q177,Q178,...,ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)",code,language,closely related,similar to eng,ling and/or cult differ,cignificant ling and/or cult differ,exceptionally difficult
0,810,2018,AND,7,6,7,5,2,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
1,810,2018,AND,9,9,9,2,2,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
2,810,2018,AND,5,6,8,5,4,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
3,810,2018,AND,7,6,5,6,3,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
4,810,2018,AND,7,7,6,5,2,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,1240,2020,ZWE,10,10,10,10,10,2,2,...,47.7,"44,9","50,6",1240.0,1240 English,1.0,0.0,0.0,0.0,0.0
95403,1240,2020,ZWE,10,10,1,1,1,1,1,...,47.7,"44,9","50,6",1240.0,1240 English,1.0,0.0,0.0,0.0,0.0
95404,3830,2020,ZWE,10,10,1,10,1,1,1,...,47.7,"44,9","50,6",3830.0,3830 Shona;chiShona,0.0,0.0,1.0,0.0,0.0
95405,3830,2020,ZWE,10,10,10,1,1,1,1,...,47.7,"44,9","50,6",3830.0,3830 Shona;chiShona,0.0,0.0,1.0,0.0,0.0
95406,3830,2020,ZWE,10,10,1,1,1,1,1,...,47.7,"44,9","50,6",3830.0,3830 Shona;chiShona,0.0,0.0,1.0,0.0,0.0

In [21]:
df_main.rename(columns={
    'closely related': 'closely_related',
    'similar to eng': 'similar_to_eng',
    'ling and/or cult differ': 'ling_and_or_cult_differ',
    'cignificant ling and/or cult differ': 'cignificant_ling_and_or_cult_differ',
    'exceptionally difficult': 'exceptionally_difficult'
}, inplace=True)

df_main

,S_INTLANGUAGE,A_YEAR,country,Q158,Q159,Q160,Q161,Q162,Q177,Q178,...,ICT Development Index 2024,"ICT Development Index 2024, Universal (personal indicators dominating)","ICT Development Index 2024, Meaningfull (infrastructure indicators dominating)",code,language,closely_related,similar_to_eng,ling_and_or_cult_differ,cignificant_ling_and_or_cult_differ,exceptionally_difficult
0,810,2018,AND,7,6,7,5,2,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
1,810,2018,AND,9,9,9,2,2,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
2,810,2018,AND,5,6,8,5,4,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
3,810,2018,AND,7,6,5,6,3,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
4,810,2018,AND,7,7,6,5,2,1,1,...,88.8,"87,6",90,810.0,810 Catalan; Valencian,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95402,1240,2020,ZWE,10,10,10,10,10,2,2,...,47.7,"44,9","50,6",1240.0,1240 English,1.0,0.0,0.0,0.0,0.0
95403,1240,2020,ZWE,10,10,1,1,1,1,1,...,47.7,"44,9","50,6",1240.0,1240 English,1.0,0.0,0.0,0.0,0.0
95404,3830,2020,ZWE,10,10,1,10,1,1,1,...,47.7,"44,9","50,6",3830.0,3830 Shona;chiShona,0.0,0.0,1.0,0.0,0.0
95405,3830,2020,ZWE,10,10,10,1,1,1,1,...,47.7,"44,9","50,6",3830.0,3830 Shona;chiShona,0.0,0.0,1.0,0.0,0.0
95406,3830,2020,ZWE,10,10,1,1,1,1,1,...,47.7,"44,9","50,6",3830.0,3830 Shona;chiShona,0.0,0.0,1.0,0.0,0.0

## Кажется регрессия

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

In [26]:
for col in ['closely_related', 'similar_to_eng', 'ling_and_or_cult_differ',
            'cignificant_ling_and_or_cult_differ', 'exceptionally_difficult']:
    print(col, df_main[col].value_counts(dropna=False))

closely_related closely_related
0.0    57974
1.0    34118
NaN      115
Name: count, dtype: int64
similar_to_eng similar_to_eng
0.0    90564
1.0     1528
NaN      115
Name: count, dtype: int64
ling_and_or_cult_differ ling_and_or_cult_differ
0.0    86257
1.0     5835
NaN      115
Name: count, dtype: int64
cignificant_ling_and_or_cult_differ cignificant_ling_and_or_cult_differ
0.0    60218
1.0    31874
NaN      115
Name: count, dtype: int64
exceptionally_difficult exceptionally_difficult
0.0    73355
1.0    18737
NaN      115
Name: count, dtype: int64

In [27]:
categoricals = [
    'closely_related',
    'similar_to_eng',
    'ling_and_or_cult_differ',
    'cignificant_ling_and_or_cult_differ',
    'exceptionally_difficult'
]

for col in categoricals:
    df_main[col] = df_main[col].astype('category')

In [28]:
from statsmodels.formula.api import logit

formula = (
    'Q158_y_gpt ~ '
    'C(closely_related) + '
    'C(similar_to_eng) + '
    'C(ling_and_or_cult_differ) + '
    'C(cignificant_ling_and_or_cult_differ) + '
    'C(exceptionally_difficult) + '
    'GDP_per_capita_2024'
)

model = logit(formula, data=df_main.dropna()).fit(method='bfgs', maxiter=1000)
print(model.summary())

         Current function value: 0.693147
         Iterations: 0
         Function evaluations: 13
         Gradient evaluations: 2
                           Logit Regression Results
==============================================================================
Dep. Variable:             Q158_y_gpt   No. Observations:                85001
Model:                          Logit   Df Residuals:                    84994
Method:                           MLE   Df Model:                            6
Date:                Fri, 06 Jun 2025   Pseudo R-squ.:                 -0.7236
Time:                        18:42:08   Log-Likelihood:                -58918.
converged:                      False   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                     1.000
=================================================================================================================
                                                    coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
Intercept                                              0     18.761          0      1.000     -36.771      36.771
C(closely_related)[T.1.0]                              0     18.761          0      1.000     -36.771      36.771
C(similar_to_eng)[T.1.0]                               0     18.761          0      1.000     -36.771      36.771
C(ling_and_or_cult_differ)[T.1.0]                      0     18.761          0      1.000     -36.771      36.771
C(cignificant_ling_and_or_cult_differ)[T.1.0]          0     18.761          0      1.000     -36.771      36.771
C(exceptionally_difficult)[T.1.0]                      0     18.761          0      1.000     -36.771      36.771
GDP_per_capita_2024                                    0   3.17e-07          0      1.000   -6.22e-07    6.22e-07
=================================================================================================================

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/scipy/optimize/_optimize.py:1313: OptimizeWarning: Desired error not necessarily achieved due to precision loss.
  res = _minimize_bfgs(f, x0, args, fprime, callback=callback, **opts)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [29]:
from statsmodels.formula.api import logit

model = logit('Q158_y_gpt ~ C(exceptionally_difficult)', data=df_main.dropna())
result = model.fit(method='bfgs', maxiter=1000)
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.401718
         Iterations: 13
         Function evaluations: 14
         Gradient evaluations: 14
                           Logit Regression Results
==============================================================================
Dep. Variable:             Q158_y_gpt   No. Observations:                85001
Model:                          Logit   Df Residuals:                    84999
Method:                           MLE   Df Model:                            1
Date:                Fri, 06 Jun 2025   Pseudo R-squ.:                0.001081
Time:                        18:44:11   Log-Likelihood:                -34146.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 8.214e-18
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                            -1.8711      0.011   -166.772      0.000      -1.893      -1.849
C(exceptionally_difficult)[T.1.0]     0.2109      0.024      8.733      0.000       0.164       0.258
=====================================================================================================

In [30]:
from statsmodels.formula.api import logit

model = logit('Q158_y_gpt ~ C(closely_related)', data=df_main.dropna())
result = model.fit(method='bfgs', maxiter=1000)
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.402133
         Iterations: 13
         Function evaluations: 14
         Gradient evaluations: 14
                           Logit Regression Results
==============================================================================
Dep. Variable:             Q158_y_gpt   No. Observations:                85001
Model:                          Logit   Df Residuals:                    84999
Method:                           MLE   Df Model:                            1
Date:                Fri, 06 Jun 2025   Pseudo R-squ.:               4.944e-05
Time:                        18:45:30   Log-Likelihood:                -34182.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                   0.06598
=============================================================================================
                                coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    -1.8426      0.013   -145.136      0.000      -1.867      -1.818
C(closely_related)[T.1.0]     0.0375      0.020      1.842      0.066      -0.002       0.077
=============================================================================================

In [25]:
from statsmodels.formula.api import logit

# Формируем формулу
formula = (
    'Q158_y_gpt ~ '
    'GDP_per_capita_2024 + '
    'C(closely_related) + '
    'C(similar_to_eng) + '
    'C(ling_and_or_cult_differ) + '
    'C(cignificant_ling_and_or_cult_differ) + '
    'C(exceptionally_difficult)'
)

print("Формула модели:", formula)

# Обучение модели
model = logit(formula, data=df_main)
results = model.fit(method='bfgs', maxiter=1000)

# Результаты
print(results.summary())

Формула модели: Q158_y_gpt ~ GDP_per_capita_2024 + C(closely_related) + C(similar_to_eng) + C(ling_and_or_cult_differ) + C(cignificant_ling_and_or_cult_differ) + C(exceptionally_difficult)
         Current function value: 0.693147
         Iterations: 0
         Function evaluations: 13
         Gradient evaluations: 2
                           Logit Regression Results
==============================================================================
Dep. Variable:             Q158_y_gpt   No. Observations:                91645
Model:                          Logit   Df Residuals:                    91638
Method:                           MLE   Df Model:                            6
Date:                Fri, 06 Jun 2025   Pseudo R-squ.:                 -0.7125
Time:                        18:37:07   Log-Likelihood:                -63523.
converged:                      False   LL-Null:                       -37094.
Covariance Type:            nonrobust   LLR p-value:                     1.000
=================================================================================================================
                                                    coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
Intercept                                              0        nan        nan        nan         nan         nan
C(closely_related)[T.1.0]                              0        nan        nan        nan         nan         nan
C(similar_to_eng)[T.1.0]                               0        nan        nan        nan         nan         nan
C(ling_and_or_cult_differ)[T.1.0]                      0        nan        nan        nan         nan         nan
C(cignificant_ling_and_or_cult_differ)[T.1.0]          0        nan        nan        nan         nan         nan
C(exceptionally_difficult)[T.1.0]                      0        nan        nan        nan         nan         nan
GDP_per_capita_2024                                    0        nan        nan        nan         nan         nan
=================================================================================================================

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/scipy/optimize/_optimize.py:1313: OptimizeWarning: Desired error not necessarily achieved due to precision loss.
  res = _minimize_bfgs(f, x0, args, fprime, callback=callback, **opts)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/base/model.py:595: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "